/* 
    custom-container-start
*/


@media (min-width: 1400px) {
    .container{
        &.sr-container-1 {
            max-width: 1320px;
        }
    }
}


@media (min-width: 1600px) {
    .container{
        &.sr-container-2 {
            max-width: 1524px;
        }
    }
}

/* 
    custom-container-end
*/