
/* 
    elements-start
*/
.sr-rating-1 {
    display: flex;
    gap: 2px;
    font-size: 20px;
    color: #FFB400;
}


.sr-social-1 {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    .link-elm {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 12px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: var(--sr-clr-pr-1);
        transition: .3s;
        
        &:hover {
            background: var(--sr-clr-pr-1);
            color: #fff;
        }
    }
}

.sr-gd-bg-rotated {
    overflow: hidden;
    position: relative;
    z-index: 1;

    
    &::before {
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        position: absolute;
        left: 1px;
        top: 1px;
        background: #101010;
        z-index: -1;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0) 20%, rgb(255, 66, 0) 50%, rgba(0, 0, 0, 0) 80%);
        z-index: -2;
        animation: sr-gd-bg-rotated 10s linear infinite;
    }
}

@keyframes sr-gd-bg-rotated {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* 
    elements-end
*/