/*
    06. offcanvas
*/


/* 
    offcanvas-start
*/
.wa-offcanvas   {
    &-area {
        position: fixed;
        right: 0;
        top: 0;
        background: #fff;
        z-index: 9;
        max-width: 450px;
        width: 100%;
        height: 100%;
        overflow: scroll;
        opacity: 1;
        padding: 50px 50px;
        transition: .5s ease-in-out;
        transform: translateX(105%);
        visibility: hidden;
        opacity: 0;
    
        &:is(.active) {
          transform: translateX(0%);
          visibility: visible;
          opacity: 1;
          transition: transform .5s ease-in-out, opacity .2s ease-in-out;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-close {
        display: flex;
        flex: 0 0 auto;
        width: 25px;
        background: transparent;
        height: 25px;
        justify-content: center;
        align-items: center;
        transition: 300ms ;
        gap: 10px;
        flex-direction: column;
        position: relative;
    
        span {
            transition: 300ms ;
            width: 100%;
            height: 3px;
            background: #000;
            position: absolute;

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            span {
                transform: rotate(0);
            }
        }
    }


    &-top {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 50px;

        &-logo {
            flex: 0 0 auto;
            max-width: 150px;
            width: 100%;
        }
    }

    &-social {
        &-title {
            color: #000;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &-flex {
            gap: 10px;
        }

        &-link {
            display: flex;
            width: 40px;
            border: 1px solid rgb(0 0 0 / 30%);
            height: 40px;
            color: #000;
            font-size: 18px;
            transition: 400ms ;
            justify-content: center;
            align-items: center;

            &:hover {
                background: #000;
                color: #fff;
                opacity: 1;
                
            }
        }
    }

    &-gallery {
        margin-bottom: 50px;
        &-title {
            color: #000;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
            }
        }

        &-item {
            height: 200px;
            img {
                transition: .3s;
            }
            &:hover {
                img {
                    transform: scale(102%);
                }
            }
        }
    }
    
    
}


.wa-overly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    transform: scaleX(0);
    transform-origin: right;
    transition: opacity .5s ;
    opacity: 0;

    &:is(.active) {
        transform: scaleX(1);
        transition: opacity .5s ;
        opacity: 1;
    }
}


/* 
    header-menu-customization-start
*/


.mobile-main-navigation {
    ul {
        li {
            position: relative;
            padding: 0px 0;

            &:not(:last-child) {
                border-bottom: 1px solid rgb(0 0 0 / 10%);
            
            }

            a {
                font-family: var(--sr-font-1);
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 500;
                width: 100%;
                line-height: 1;
                transition: 300ms ;
                padding: 20px 0;
            }
    
            .dropdown-btn {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                width: 100%;
                height: 69px;
                display: flex;
                align-items: center;
                justify-content: end;
                background: transparent;
                font-size: 18px;
                color: #000;
                transition: 300ms ;

                i {
                    transition: 300ms ;
                }
    
                &:is(.active) {
                    i {
                        transform: rotate(90deg);
                    }
                }
            }

            &:hover {
                > a {
                    color: var(--sr-clr-pr-1);
                }

                > .dropdown-btn {
                    color: var(--sr-clr-pr-1);
                }
            }
    
            .dropdown-menu {
                border-radius: 0;
                background-color: transparent;
                border: none;
                margin-left: 30px;
                padding: 0;
    
                li  {
                    padding: 0px 0;

                    a {
                        font-size: 18px;
                    }
        
                    .dropdown-btn {
                        height: 55px;
                        font-size: 16px;
                    }
        
                }
            }
    
        }
    }
}

/* 
    header-menu-customization-start
*/


/* 
    offcanvas-end
*/

