/*
    09. preloader
*/


/* 
	preloader-css-start
*/
.pg-preloader {
	position: fixed;
	inset: 0;
	z-index: 9999999;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.5s ease, visibility 0.5s ease;


	&-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		flex-direction: column;
		gap: 50px;
	}

	&-logo {
		width: 100px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgb(124 91 255 / 30%);
		padding: 20px;
		box-shadow: 0px 0px 34px rgb(0 0 0 / 5%);
		transition: .3s;
		border-radius: 6px;
		img {
			animation: rotateXY 1.5s linear infinite;
		}
	}


	&.loaded {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;


		.pg-preloader-logo {
			transform: scale(.5);
		}
		
	}
}





@keyframes rotateXY {
	0% {
	  transform: rotate(0deg);
	}
	50% {
	  opacity: 0.8;
	  transform: rotateY(180deg) rotateX(0deg);
	}
	100% {
	  transform: rotateY(180deg) rotateX(180deg);
	}
  }
  



/* 
	preloader-css-end
*/

