/*
    03. typography
*/

/* 
    typography-start
*/
.sr-p-1 {
    font-family: var(--sr-font-1);
    line-height: 150%;
    font-size: 18px;
    font-weight: 400;
    color: var(--sr-clr-black-4);
    margin-bottom: 0;
}

.sr-p-2 {
    font-family: var(--sr-font-1);
    line-height: 150%;
    font-size: 18px;
    font-weight: 400;
    color: var(--sr-clr-black-6);
    margin-bottom: 0;
}

.sr-p-3 {
    font-family: var(--sr-font-1);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    color: var(--sr-clr-black-9);
    margin-bottom: 0;
}


.sr-p-4 {
    font-family: var(--sr-font-1);
    line-height: 1.444;
    font-size: 18px;
    font-weight: 400;
    color: var(--sr-clr-black-9);
    margin-bottom: 0;
}

.sr-p-5 {
    font-family: var(--sr-font-1);
    line-height: 1.444;
    font-size: 20px;
    font-weight: 500;
    color: var(--sr-clr-black-11);
    margin-bottom: 0;
}


.sr-h-1 {
    font-family: var(--sr-font-1);
    line-height: 130%;
    font-weight: 600;
    color: var(--sr-clr-black-3);
    margin-bottom: 0;
}


.sr-h-2 {
    font-family: var(--sr-font-1);
    line-height: 130%;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.sr-h-3 {
    font-family: var(--sr-font-3);
    line-height: 1.25;
    font-weight: 700;
    color: var(--sr-clr-black-8);
    margin-bottom: 0;
}

.sr-h-5 {
    font-family: var(--sr-font-3);
    line-height: 1.25;
    font-weight: 600;
    color: var(--sr-clr-black-10);
    margin-bottom: 0;
}

.sr-subtitle-1 {
    font-family: var(--sr-font-1);
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--sr-clr-black-3);
    line-height: 110%;
    border: 1px solid rgb(213 215 218 / 40%);
    border-radius: 32px;
    padding: 8px;
    padding-right: 16px;
    margin-bottom: 12px;

    .icon {
        width: 32px;
        height: 32px;
        background: var(--sr-clr-pr-1);
        border-radius: 50%;
        display: inline-flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        color: #fff;
        will-change: width, height;
    }

    &:is(.has-v2) {
        background: linear-gradient(107.68deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.07) 100%);
        border: 1px solid rgba(255, 255, 255, 0.05);
        color: #fff;
        .icon {
            background: var(--sr-clr-gd-1);
        }
    }
}

.sr-subtitle-4 {
    display: inline-block;
    font-family: var(--sr-font-3);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;
    position: relative;
    z-index: 1;
    border: 1px solid #426fe6;
    padding: 7px 24px;
    padding-left: 51px;
    border-radius: 100px;
    margin-bottom: 20px;

    &-icon {
        position: absolute;
        top: 38%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.sr-subtitle-5 {
    font-family: var(--sr-font-3);
    font-weight: 700;
    font-size: 19px;
    line-height: 1.5;
    background: linear-gradient(45deg, #f46800, #a54600);
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;

    @media #{$xs} {
        font-size: 16px;
    }
}

.sr-sec-title-1 {
    font-family: var(--sr-font-1);
    font-weight: 600;
    line-height: 120%;
    color: var(--sr-clr-black-3);
    font-size: 40px;
    margin-bottom: 0;

    @media #{$lg} {
        font-size: 38px;
    }
    @media #{$md} {
        font-size: 35px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 33px;
    }
}

.sr-sec-title-2 {
    font-family: var(--sr-font-1);
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 0;

    span {
        display: inline;
        color: rgba(213, 215, 218, 0.70);
    }

    @media #{$lg} {
        font-size: 38px;
    }
    @media #{$md} {
        font-size: 35px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 33px;
    }
}

.sr-sec-title-4 {
    font-family: var(--sr-font-3);
    font-weight: 800;
    line-height: 1.076;
    font-size: 65px;
    color: var(--sr-clr-black-8);
    margin-bottom: 6px;

    @media #{$xl} {
        font-size: 62px;
    }
    @media #{$lg} {
        font-size: 54px;
    }
    @media #{$md} {
        font-size: 46px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 38px;
    }


    &:is(.sec_title_2) {
        .split-line {
            display: inline-block !important;
        }
    }
}

.sr-sec-title-5 {
    font-family: var(--sr-font-3);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
    font-size: 60px;
    background: linear-gradient(135deg, #000 35%, #f46800);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;


    @media #{$xxl} {
        font-size: 55px;
    }

    @media #{$xl} {
        font-size: 50px;
    }
    @media #{$lg} {
        font-size: 45px;
    }
    @media #{$md} {
        font-size: 40px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 35px;
    }
}

/* 
    typography-end
*/