/*
    11. wow-plus
*/

/* 
    wow-plus-start
*/
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    filter: blur(3px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    filter: blur(0px);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 800ms;
  animation-timing-function: var(--sr-cube-1);
}

@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    filter: blur(3px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    filter: blur(0px);
  }
}

.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 800ms;
  animation-timing-function: var(--sr-cube-1);
}


@keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp2 {
  -webkit-animation-name: slideInUp2;
  animation-name: slideInUp2;
  animation-duration: 500ms;
  animation-timing-function: var(--pg-cube-1);
}


@keyframes jackInTheBox2 {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.jackInTheBox2 {
  -webkit-animation-name: jackInTheBox2;
  animation-name: jackInTheBox2;
  animation-duration: 800ms;
  animation-timing-function: var(--sr-cube-1);
}



@-webkit-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

.bounce2 {
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  animation-duration: 800ms;
  animation-timing-function: var(--sr-cube-1);
}


/* 
    wow-plus-end
*/
