/*
    11. wow-plus
*/

/* 
    wow-plus-start
*/
@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 600ms;
  animation-timing-function: var(--pg-cube-1);
}


@keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp2 {
  -webkit-animation-name: slideInUp2;
  animation-name: slideInUp2;
  animation-duration: 500ms;
  animation-timing-function: var(--pg-cube-1);
}


@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 500ms;
  animation-timing-function: var(--pg-cube-1);
}


/* 
    wow-plus-end
*/
