/* 
    blog-1-start
*/
.sr-blog-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 50px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        .sec-disc {
            margin-top: 12px;
        }
        .btn-wrap {
            margin-top: 32px;
        }
    }

    &-item {
        display: flex;
        gap: 34px;
        align-items: self-start;
        padding: 60px 0;
        border-bottom: 1px solid rgb(0 0 0 / 5%);

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }
        .blog-date {
            max-width: 152px;
            width: 100%;
            font-weight: 500;
        }
        .title {
            font-size: 24px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }
            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }
        .disc {
            margin-top: 12px;
        }
        .blog-btn {
            flex: 0 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 12px;
            background: rgb(122 90 248 / 5%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: var(--sr-clr-pr-1);
            transition: all .5s var(--sr-cube-1);

            .icon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                i {
                    transition: all .5s var(--sr-cube-1);
                    &:nth-child(1) {
                        position: absolute;
                        transform: translate(-20px, 20px);
                    }
                }
            }

            &:hover {
                background-color: var(--sr-clr-pr-1);
                border-color: transparent;
                color: #fff;
                i {
                    &:nth-child(1) {
                        transform: translate(0px,0px);
                    }
                    &:nth-child(2) {
                        transform: translate(20px, -20px);
                    }
                }
            }
        }


        &:nth-child(1) {
            padding-top: 0;
        }
    }
    
}




/* 
    blog-1-end
*/