/* 
    blog-1-start
*/
.sr-blog-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 50px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        .sec-disc {
            margin-top: 12px;
        }
        .btn-wrap {
            margin-top: 32px;
        }
    }

    &-item {
        display: flex;
        gap: 34px;
        align-items: self-start;
        padding: 60px 0;
        border-bottom: 1px solid rgb(0 0 0 / 5%);

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }
        .blog-date {
            max-width: 152px;
            width: 100%;
            font-weight: 500;
        }
        .title {
            font-size: 24px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }
            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }
        .disc {
            margin-top: 12px;
        }
        .blog-btn {
            flex: 0 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 12px;
            background: rgb(122 90 248 / 5%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: var(--sr-clr-pr-1);
            transition: all .5s var(--sr-cube-1);

            .icon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                i {
                    transition: all .5s var(--sr-cube-1);
                    &:nth-child(1) {
                        position: absolute;
                        transform: translate(-20px, 20px);
                    }
                }
            }

            &:hover {
                background-color: var(--sr-clr-pr-1);
                border-color: transparent;
                color: #fff;
                i {
                    &:nth-child(1) {
                        transform: translate(0px,0px);
                    }
                    &:nth-child(2) {
                        transform: translate(20px, -20px);
                    }
                }
            }
        }


        &:nth-child(1) {
            padding-top: 0;
        }
    }
    
}




/* 
    blog-1-end
*/
/* 
    blog-2-start
*/
.sr-blog-2 {
    &-sec-title {
        .sec-disc {
            margin-top: 12px;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }


    &-wrap {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1.39fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 150px;
        }
    }
    
    &-item {
        .item-img {
            height: 520px;
            border-radius: 12px;
            margin-bottom: 32px;
            perspective: 2000px;
            transform-style: preserve-3d;

            @media #{$lg} {
                height: 450px;
            }
            @media #{$md,$xs} {
                height: 294px;
            }

            img {
                transition: all .5s var(--sr-cube-1);
            }
        }
        .item-content {
            padding: 0 12px;
        }
        .item-title {
            font-size: 32px;
            color: #F0F2F4;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-2);
            }
            @media #{$xl,$lg} {
                font-size: 26px; 
            }
            @media #{$md,$xs} {
                font-size: 22px; 
            }
        }
        .item-disc {
            margin-top: 12px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(84 89 99 / 20%);
        }
        .btn-x-date {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
            gap: 20px;
            flex-wrap: wrap;
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            font-size: 18px;
            font-weight: 600;
            transition: all .5s var(--sr-cube-1);

            .icon {
                width: 48px;
                height: 48px;
                border-radius: 12px;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--sr-clr-pr-2);
                font-size: 24px;

                &::after {
                    border-radius: 12px;
                }
                &::before {
                    border-radius: 12px;
                }

                .icon-wrap {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    i {
                        transition: all .5s var(--sr-cube-1);
                        &:nth-child(1) {
                            position: absolute;
                            transform: translate(-20px, 20px);
                        }
                    }
                }
            }

            &:hover {
                color: var(--sr-clr-pr-2);
                .icon-wrap {
                    i {
                        &:nth-child(1) {
                            transform: translate(0px,0px);
                        }
                        &:nth-child(2) {
                            transform: translate(20px, -20px);
                        }
                    }
                }
            }
        }

        &:hover {
            .item-img {
                img {
                    transform-origin: 50% 100%;
                    transform: rotateX(5deg) scale3d(1.05, 1.05, 1);
                }
            }
        }

        &:is(.has-v2) {
            .item-img {
                height: 294px;
            }
        }
    }

}


/* 
    blog-2-end
*/
/* 
    blog-5-start
*/
.sr-blog-5 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.17fr;
        gap: 35px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        .item-img {
            position: relative;
            z-index: 1;
            height: 362px;
            border-radius: 10px;
            margin-bottom: 23px;

            perspective: 2000px;
            transform-style: preserve-3d;

            img {
                transition: all 1s var(--sr-cube-1);
            }
        }

        .item-date {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 1;
            background: #fff;
            font-size: 14px;
            border-radius: 100px;
            padding: 6px 20px;
            font-weight: 700;
        }

        .title {
            font-size: 32px;
            font-weight: 700;
            transition: all .5s var(--sr-cube-1);


            &:hover {
                color: var(--sr-clr-pr-5);
                transform: translateY(-2px);
            }

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 24px;
            }
        }

        &:hover {
            .item-img {
                img {
                    transform-origin: 50% 100%;
                    transform: rotateX(5deg) scale3d(1.05, 1.05, 1);
                }
            }
        }

    }

    &-right {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &-item-2 {
        display: grid;
        grid-template-columns: 1fr 2.46fr;
        gap: 40px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 2.46fr;
        }

        .blog-date {
            background: #fff;
            font-size: 14px;
            border-radius: 100px;
            padding: 6px 20px;
            font-weight: 700;
            display: inline-block;
            border: 1px solid #efefef;
            margin-bottom: 15px;
        }

        .title {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 13px;

            transition: all .5s var(--sr-cube-1);


            &:hover {
                color: var(--sr-clr-pr-5);
                transform: translateY(-2px);
            }

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }

        .blog-disc {
            font-size: 17px;
            color: #616368;
            max-width: 450px;
        }

        .item-img {
            height: 190px;
            border-radius: 10px;

            perspective: 2000px;
            transform-style: preserve-3d;

            img {
                transition: all 1s var(--sr-cube-1);
            }
        }


        &:hover {
            .item-img {
                img {
                    transform-origin: 50% 100%;
                    transform: rotateX(5deg) scale3d(1.05, 1.05, 1);
                }
            }
        }

        &:not(:last-child) {
            padding-bottom: 35px;
            border-bottom: 1px solid #ececec;
        }
    }
    
}




/* 
    blog-5-end
*/