/* 
    core-features-1-start
*/
.sr-core-features-1 {
    &-area {
        margin-top: -30px;
    }

    &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 36px;
        text-align: center;
    }

    &-wrap {
        display: inline-flex;
        gap: 12px;
        margin-right: 12px;

        .single-elm {
            border: 1px solid rgb(213 215 218 / 40%);
            border-radius: 6px;
            display: inline-flex;
            gap: 7px;
            align-items: center;
            color: var(--sr-clr-black-3);
            padding: 9px 16px;
            font-size: 16px;
            flex: 0 0 auto;
            background-color: #fff;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                border-color: rgba(119, 85, 255, 0.5);
            }
        }
    }

    &-marquee {
        position: relative;
        &::after {
            content: "";
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 90, 255, 0) 100%);
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(1700deg,rgba(255, 255, 255, 1) 0%, rgba(0, 90, 255, 0) 100%);
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }

        .wa_marquee_right {
            padding: 24px 0;
            background: #FAFAFA;
            position: relative;

            &::after {
                content: "";
                width: 200px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
/* 
    core-features-1-end
*/

/* 
    core-features-2-start
*/
.sr-core-features-2 {
    &-sec-title {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }        
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-item {
        text-align: center;
        padding: 48px 48px;
        border-radius: 12px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: linear-gradient(107deg, rgba(255, 255, 255, 0.04) 5.84%, rgba(255, 255, 255, 0.01) 70.7%);
        background-blend-mode: overlay;
        backdrop-filter: blur(3px);

        @media #{$xl,$lg,$md,$xs} {
            padding: 48px 20px;
        }

        .icon {
            display: inline-flex;
            width: 60px;
            height: 60px;
            padding: 14px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;

            i, img {
                font-size: 30px;
                color: var(--sr-clr-pr-2);
            }

            &::before {
                border-radius: 12px;
            }
        }

        .title {
            font-size: 24px;
            margin-top: 32px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-2);
            }

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }


        }
        .disc {
            opacity: .9;
            margin-top: 12px;
        }

        &:hover {
            .icon {
                i,img {
                    animation: pulse 1s;
                }
            }
        }

        &:nth-child(2) {
            .icon {
                &::after {
                    animation-delay: 2s;
                }
            }
        }
        &:nth-child(3) {
            .icon {
                &::after {
                    animation-delay: 4s;
                }
            }
        }
        &:nth-child(4) {
            .icon {
                &::after {
                    animation-delay: 3s;
                }
            }
        }
        &:nth-child(5) {
            .icon {
                &::after {
                    animation-delay: 2s;
                }
            }
        }
        &:nth-child(6) {
            .icon {
                &::after {
                    animation-delay: 2.8s;
                }
            }
        }
    }
}
/* 
    core-features-2-end
*/