/* 
    core-features-1-start
*/
.sr-core-features-1 {
    &-area {
        margin-top: -30px;
    }

    &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 36px;
        text-align: center;
    }

    &-wrap {
        display: inline-flex;
        gap: 12px;
        margin-right: 12px;

        .single-elm {
            border: 1px solid rgb(213 215 218 / 40%);
            border-radius: 6px;
            display: inline-flex;
            gap: 7px;
            align-items: center;
            color: var(--sr-clr-black-3);
            padding: 9px 16px;
            font-size: 16px;
            flex: 0 0 auto;
            background-color: #fff;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                border-color: rgba(119, 85, 255, 0.5);
            }
        }
    }

    &-marquee {
        position: relative;
        &::after {
            content: "";
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 90, 255, 0) 100%);
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(1700deg,rgba(255, 255, 255, 1) 0%, rgba(0, 90, 255, 0) 100%);
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }

        .wa_marquee_right {
            padding: 24px 0;
            background: #FAFAFA;
            position: relative;

            &::after {
                content: "";
                width: 200px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
/* 
    core-features-1-end
*/