/* 
    counter-2-start
*/
.sr-counter-2 {
    &-wrap {
        background: linear-gradient(106.97deg, rgba(255, 255, 255, 0.04) 5.84%, rgba(255, 255, 255, 0.01) 70.7%);
        background-blend-mode: overlay;
        backdrop-filter: blur(3px);
        border-radius: 12px;
        padding: 80px 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media #{$xl,$lg} {
            padding: 80px 20px;
        }

        
        @media #{$md,$xs} {
            padding: 80px 20px;
            grid-template-columns: 1fr;
        }
    }

    &-sec-title {
        .sec-disc {
            max-width: 500px;
            margin-top: 12px;
            margin-bottom: 40px;
        }
    }

    &-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .number {
            color: #fff;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: -2px;
            line-height: 80%;
            text-align: right;
            font-family: var(--sr-font-2);
            font-size: 72px;

            .odometer-formatting-mark {
                display: none;
            }
            * {
                font-family: inherit;
                line-height: inherit;
                font-weight: inherit;
                font-size: inherit;
          
            }
            .odometer {
                transform: translateY(-2px);
            }

            &:is(.has-stroke) {
                -webkit-text-stroke: 1px #fff;
                -webkit-text-fill-color: transparent;
            }

            @media #{$xl,$lg,$md,$xs} {
                font-size: 52px;
            }
   
        }

        .disc {
            border-top: 2px solid rgb(84 89 99 / 10%);
            padding-top: 12px;
            color: #fff;
        }
    }
}


/* 
    counter-2-end
*/
/* 
    counter-3-start
*/

.sr-counter-3 {
    &-line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(213, 215, 218, 0.00) 0%, #D5D7DA 50.39%, rgba(213, 215, 218, 0.00) 100%);
    }

    &-wrap {
        display: flex;
        justify-content: center;
        gap: 40px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .hr-line {
            height: 98px;
            width: 2px;
            background: linear-gradient(0deg, rgba(213, 215, 218, 0.00) 0%, #D5D7DA 50.39%, rgba(213, 215, 218, 0.00) 100%);

            @media #{$xs} {
                display: none;
            }
        }
    }

    &-item {
        text-align: center;
        max-width: 306px;
        width: 100%;

        @media #{$xs} {
            max-width: auto;
            width: auto;
        }


        .number {
            font-family: var(--sr-font-2);
            font-size: 72px;
            letter-spacing: -0.03em;
            font-weight: 400;
            line-height: 1;

            @media #{$lg,$md,$xs} {
                font-size: 60px;
            }

            .odometer  {
                transform: translateY(-3px);
            }

            .odometer-formatting-mark {
                display: none;
            }
            * {
                font-family: inherit;
                line-height: inherit;
                font-weight: inherit;
                font-size: inherit;
          
            }
        }

        .disc {
            font-size: 24px;
            font-weight: 400;
            margin-top: 8px;

            @media #{$lg,$md,$xs} {
                font-size: 20px;
            }
        }
    }
    
    
}



/* 
    counter-3-end
*/