/* 
    cta-1-start
*/
.sr-cta-1 {
    &-area {
        position: relative;
        z-index: 2;
    }
    &-wrap {
        border-radius: 24px;
        outline: 1px solid rgb(213 215 218 / 30%);
        border: 12px solid var(--sr-clr-black-7);
        background: #fff;
    }


    &-emoji {
        position: absolute;
        z-index: -1;
        @media #{$md,$xs} {
            display: none;
        }
        .icon {
            position: absolute;
            right: -10px;
            top: -10px;
            font-size: 20px;
            color: var(--sr-clr-black-3);
        }

        &:nth-child(1) {
            bottom: 70px;
            left: 70px;
        }
        &:nth-child(2) {
            top: 70px;
            right: 70px;
            
            .icon {
                right: unset;
                top: unset;
                left: -10px;
                bottom: -10px;

                i {
                    transform: scale(-1);
                }
            }
        }
    }
    
    &-content {
        max-width: 636px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;

        .sec-disc {
            margin-top: 13px;
        }
    }


    &-form {
        &-input {
            font-family: var(--sr-font-1);
            background: rgb(248 249 252 / 60%);
            width: 100%;
            height: 60px;
            border-radius: 8px;
            border: 1px solid rgb(213 215 218 / 20%);
            font-size: 16px;
            color: rgb(84 89 99 / 60%);
            font-weight: 400;
            padding-left: 16px;
            padding-right: 170px;

            @media #{$xs} {
                padding-right: 16px;
            }
            @media #{$sm} {
                padding-right: 170px;
            }
        }

        &-btn {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);

            @media #{$xs} {
                position: unset;  
                transform: unset;
                margin-top: 30px;
            }
            @media #{$sm} {
                position: absolute;
                transform: translateY(-50%);
                margin-top: 0px;
            }
        }
    }
    

}

/* 
    cta-1-end
*/
/* 
    cta-2-start
*/
.sr-cta-2 {
    &-wrap {
        max-width: 636px;
        margin-left: auto;
        margin-right: auto;

        .sr-cta-1-form-input {
            border-radius: 8px;
            border: 1px solid rgba(213, 215, 218, 0.10);
            background: rgba(55, 55, 55, 0.10);
            color: var(--sr-clr-black-6);
        }
    }
    &-sec-title {
        .sec-disc {
            margin-top: 12px;
        }
    }

}
/* 
    cta-2-end
*/