/* 
    faqs-1-start
*/

.sr-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;

    &-item {
        background-color: #fff;
        border-radius: 12px;
        width: 100%;

        .item-title {
            font-size: 20px;
            font-weight: 500;
            background: transparent;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;
            padding: 22px 24px;
            text-align: left;
            transition: 0.2s;

            @media #{$lg,$md,$xs} {
                padding: 22px 15px;
            }


            .icon {
                width: 30px;
                height: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .line {
                    width: 100%;
                    height: 2px;
                    background: var(--sr-clr-pr-1);
                    transition: all .4s ease-in-out;
                }
            }
            
    
            &:is(:not(.collapsed)) {
                .icon {
                    .line {
                        &:nth-child(1) {
                            transform: rotate(45deg) translateY(4px);
                        }                        
                        &:nth-child(2) {
                            transform: rotate(-45deg) translateY(-4px);
                        }
                    }
                }

            }

            &:is(.collapsed) {
                &:hover {
                    color: var(--sr-clr-pr-1);
                }
            }



        }
        
        .item-disc {
            padding: 22px 24px;

            @media #{$lg,$md,$xs} {
                padding: 22px 15px;
            }
        }


    }
    
}


.sr-faqs-1 {
    &-wrap {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1.04fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-content {
        .sec-disc {
            max-width: 500px;
            margin-top: 12px;
        }

        .btn-wrap {
            margin-top: 32px;
        }
    }

    &-accordion {
        background-color: #FBFBFD;
        border: 1px solid #F3F3F5;
        border-radius: 24px;
        padding:  32px 32px;

        @media #{$lg,$md,$xs} {
            padding:  32px 20px;
        }
    }
}

/* 
    faqs-1-end
*/
/* 
    faqs-2-start
*/
.sr-faqs-2 {
    &-sec-title {
        .sec-disc {
            margin-top: 12px;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-max-width {
        max-width: 856px;
        margin-left: auto;
        margin-right: auto;
    }

    &-accordion {
        border-radius: 20px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: linear-gradient(107deg, rgba(255, 255, 255, 0.04) 5.84%, rgba(255, 255, 255, 0.01) 70.7%);
        background-blend-mode: overlay;
        padding: 8px;

        .sr-accordion {
            gap: 4px;

            &-item {
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.02);


                .item-title {
                    .icon-2 {
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        border-radius: 8px;
                        border: 1px solid rgba(31, 31, 31, 0.60);
                        color: var(--sr-clr-black-4);
                        flex:  0 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            transition: all .5s var(--sr-cube-1);
                        }
                    }


                    &:is(:not(.collapsed)) {
                        .icon-2 {
                            transform: rotate(90deg);
                        }
        
                    }
        
                    &:is(.collapsed) {
                        &:hover {
                            color: var(--sr-clr-pr-2);
                        }
                    }
                }

                .item-disc {
                    opacity: .8;
                    padding: 22px 24px;
                    padding-top: 0;
                }
            }
        }
    }
}


/* 
    faqs-2-end
*/
/* 
    faqs-3-start
*/
.sr-faqs-3 {
    &-wrap {
        padding: 80px 80px;
        background-color: #fff;
        border-radius: 24px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 80px 20px;
        }
    }

    &-sec-title {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }

    &-accordion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .sr-accordion {
            gap: 20px;

            &-item {
                border-radius: 12px;
                background: var(--sr-clr-black-7);


                .item-title {
                    padding: 15px 16px;

                    .icon-2 {
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        border-radius: 8px;
                        background: #fff;
                        color: var(--sr-clr-pr-1);
                        flex:  0 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .5s var(--sr-cube-1);

                        i {
                            transition: all .5s var(--sr-cube-1);
                        }
                    }


                    &:is(:not(.collapsed)) {
                        .icon-2 {
                            color: #fff;
                            background: var(--sr-clr-pr-1);
                            i {
                                transform: rotate(-180deg);
                            }
                        }
        
                    }
        
                    &:is(.collapsed) {
                        &:hover {
                            color: var(--sr-clr-pr-1);
                        }
                    }
                }

                .item-disc {
                    opacity: 1;
                    padding: 22px 16px;
                    padding-top: 10px;
                }
            }
        }
    }
}

/* 
    faqs-3-end
*/
/* 
    faqs-4-start
*/
.sr-faqs-4 {
    &-wrap {
        max-width: 1265px;
        margin-left: auto;
        margin-right: auto;
    }

    &-sec-title {
        max-width: 599px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 28px;
        &-single {
            background-color: #fffadb;
            border-radius: 20px;
            height: 145px;
            overflow: hidden;
            transition: all .5s var(--sr-cube-1);


            .front-content {
                display: flex;
                align-items: center;
                gap: 30px;
                padding: 0 35px;
                cursor: pointer;
                height: 145px;

                @media #{$xs} {
                    padding: 0 20px;
                }

                .main-img {
                    width: 270px;
                    transition: all .3s var(--sr-cube-1);

                    @media #{$xs} {
                        display: none;
                    }
                }

                .dot-shape {
                    width: 22px;
                    border-radius: 50%;
                    height: 22px;
                    background: #c0b888;
                    transition: all .3s var(--sr-cube-1);
                    flex: 0 0 auto;

                    @media #{$xs} {
                        display: none;
                    }
                }


                .plus-icon {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;
                    margin-left: auto;
                    flex: 0 0 auto;

                    .line {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: var(--sr-clr-black-8);
                        transition: all .3s var(--sr-cube-1);

                        &:nth-child(2) {
                            height: 100%;
                            width: 2px;
                        }
                    }
                }
                
            }

            .main-title {
                font-size: 25px;
                font-weight: 800;
                transition: all .5s var(--sr-cube-1);

                @media #{$md} {
                    font-size: 22px;
                }
                @media #{$xs} {
                    font-size: 20px;
                }
            }

            .back-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0 50px;
                align-items: center;
                gap: 50px;
                transition: all .3s var(--sr-cube-1);

                @media #{$lg,$md} {
                    padding-top: 30px;
                }

                @media #{$xs} {
                    grid-template-columns: 1fr;
                }
        

                .disc {
                    font-weight: 500;
                    margin-top: 13px;
                }

                .main-img {
                    @media #{$xs} {
                        display: none;
                    }
                }
            }

            &:hover {
                .front-content {
                    .dot-shape {
                        background: var(--sr-clr-black-8);
                    }
                }

            }

            &:is(.active) {
                height: 370px;

                @media #{$xs} {
                    height: 270px;
                }

                .dot-shape {
                    opacity: 0;
                }
                .front-content {
                    .main-img {
                        transform: translateY(20px);
                        opacity: 0;
                    }
                    .main-title {
                        transform: translateY(20px);
                        opacity: 0;
                    }
                }
                .back-content {
                    transform: translateY(-70px);

                    .main-title {
                        max-width: 430px;
                    }
                }

                .plus-icon {
                    .line {

                        &:nth-child(2) {
                            opacity: 0;
                        }
                    }
                }
            }
            
            &:nth-child(2) {
                background-color: #fff0ec;

                .dot-shape {
                    background-color: #ffd7cc;
                }
            }            
            &:nth-child(3) {
                background-color: #f7f7f7;

                .dot-shape {
                    background-color: #d8d8d8;
                }
            }
            &:nth-child(4) {
                background-color: #f8f9fd;

                .dot-shape {
                    background-color: #ced8ff;
                }
            }
            
        }
    }



}

/* 
    faqs-4-end
*/