/* 
    features-1-start
*/


.sr-features-1 {
    &-sec-title {
        gap: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }
    
        .sec-disc {
            margin-bottom: 32px;
        }
        .left {
            max-width: 520px;
        }
        .right {
            max-width: 416px;
        }
        
    }

    &-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }

    &-item {
        @media #{$over,$xxxl,$xxl,$xl,$lg} {
            &:nth-child(1) {
                grid-area: 1 / 1 / 3 / 2;
            }
            &:nth-child(2) {
                grid-area: 1 / 2 / 2 / 4;
            }
            &:nth-child(3) {
                grid-area: 2 / 2 / 3 / 3;
            }
            &:nth-child(4) {
                grid-area: 2 / 3 / 4 / 4;
            }
            &:nth-child(5) {
                grid-area: 3 / 1 / 4 / 3;
            }
        }

    }

    &-item {
        background: rgb(248 249 252 / 60%);
        border-radius: 12px;
        padding: 12px;
        border: 1px solid rgb(213 215 218 / 25%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;

        .content {
            display: flex;
            padding: 12px;
            gap: 15px;
            justify-content: space-between;

            &-left {
                max-width: 314px;
            }
        }

        .title {
            font-size: 20px;
            margin-bottom: 10px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }
        }
        .disc {
            font-size: 16px;
        }

        .item-btn {
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
            border: 1px solid rgb(213 215 218 / 40%);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 18px;
            color: var(--sr-clr-black-3);
            transition: all .5s var(--sr-cube-1);

            .icon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                i {
                    transition: all .5s var(--sr-cube-1);
                    &:nth-child(1) {
                        position: absolute;
                        transform: translate(-15px, 15px);
                    }
                }
            }

            &:hover {
                background-color: var(--sr-clr-pr-1);
                border-color: transparent;
                color: #fff;
                i {
                    &:nth-child(1) {
                        transform: translate(0px,0px);
                    }
                    &:nth-child(2) {
                        transform: translate(15px, -15px);
                    }
                }
            }
        }


        .item-img {
            background-color: var(--sr-clr-black-7);
            border: 1px solid rgb(213 215 218 / 30%);
            border-radius: 12px;
            padding: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-inner-div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 8px;
                width: 100%;
                
                @media #{$md,$xs} {
                    grid-template-columns: 1fr ; 
                }
            }

            &-single {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border-radius: 12px;
                padding: 20px 12px;
            }
        }
    }
    
    
}


/* 
    features-2-start
*/
.sr-features-2 {
    &-sec-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 680px;
        }

        .right {
            max-width: 365px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: start;
        }
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }
    

    
    &-item {
        padding: 32px 32px;
        border-radius: 12px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: linear-gradient(107deg, rgba(255, 255, 255, 0.04) 5.84%, rgba(255, 255, 255, 0.01) 70.7%);
        background-blend-mode: overlay;
        backdrop-filter: blur(3px);

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 20px;
        }

        .item-img {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }

        .title {
            font-size: 24px;
            margin-bottom: 10px;
            transition: .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-2);
            }

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }

        .disc {
            font-size: 16px;
        }
    }
    
    
}

/* 
    features-2-end
*/
/* 
    features-3-start
*/
.sr-features-3 {
    &-wrap {
        padding: 80px 80px;
        background: #fff;
        border-radius: 20px;
        gap: 100px;
        display: grid;
        grid-template-columns: 1fr 1.24fr;

        @media #{$xl,$lg} {
            gap: 50px;
        }

        @media #{$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
            padding: 60px 20px;
        }
    }

    &-left {
        &-inner-div {
            display: grid;
            gap: 12px;
            grid-template-columns: 1fr 1.14fr;
            align-items: end;
            margin-bottom: 12px;

            @media #{$lg} {
                grid-template-columns: 1fr ;
            }

            @media #{$xs} {
                grid-template-columns: 1fr ;
            }
            @media #{$sm} {
                grid-template-columns: 1fr 1.14fr;
            }
        }
    }

    &-svg-3 {
        border-radius: 12px;
    }


    &-sec-title {
        .sec-disc {
            margin-top: 12px;
        }
    }


    &-item {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-single {
            display: flex;
            gap: 24px;
            align-items: center;

            .icon {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                background: rgba(83, 57, 255, 0.06);
                border: 1px solid rgba(83, 57, 255, 0.1);
                border-radius: 12px;
            }

            .title {
                font-size: 20px;
            }

            .disc {
                font-size: 16px;
                margin-top: 8px;
            }
        }
    }
    
}

/* 
    features-3-end
*/