/* 
    footer-1-start
*/

.cta-x-footer-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 260px);
    z-index: -1;
}

.sr-footer-1 {

    &-bg-shape {
        width: 35%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -54px;
        z-index: -1;
        text-align: center;
    }

    &-wrap {
        display: flex;
        gap: 68px;
        justify-content: space-between;
        @media #{$lg} {
            gap: 50px;
        }
        @media #{$md,$xs} {
            gap: 50px;
            flex-wrap: wrap;
        }
    }

    &-widget {
        .widget-title {
            font-size: 24px;
            padding-bottom: 24px;
            position: relative;
            margin-bottom: 32px;

            @media #{$lg,$md,$xs} {
                font-size: 22px;
            }

            &::after {
                content: "";
                width: 72px;
                height: 3px;
                background: var(--sr-clr-pr-1);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &::before {
                content: "";
                width: 24px;
                height: 3px;
                border-left: 6px solid #fff;
                border-right: 6px solid #fff;
                position: absolute;
                bottom: 0;
                left: 0%;
                z-index: 1;
                animation: f1widgetLine 7s linear infinite;
            }
        }

        
        &:nth-child(1) {
            margin-right: auto;
        }

        &:nth-child(3) {
            .widget-title {
                &::before {
                    animation-delay: 1s;
                }
            }
        }

        
        &:nth-child(4) {
            .widget-title {
                &::before {
                    animation-delay: 3s;
                }
            }
        }



        
        
    }

    &-logo {
        margin-bottom: 32px;
    }

    &-disc {
        max-width: 415px;

        @media #{$lg,$md,$xs} {
            max-width: 315px;
        }

        .title {
            font-size: 24px;
            margin-bottom: 8px;

            @media #{$lg,$md,$xs} {
                font-size: 20px;
            }
        }

        .disc {
            margin-top: 8px;
        }

        .sr-social-1 {
            margin-top: 32px;
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            transform: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }
        }
    }

    &-copyright {
        text-align: center;
        border-top: 1px solid var(--sr-clr-black-6);
        padding: 32px 0;
        font-size: 18px;
        font-weight: 500;

        a {
            color: var(--sr-clr-pr-1);
            transition: all .5s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-sd-1);
            }
        }
    }
}

@keyframes f1widgetLine {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0%);
    }
}
/* 
    footer-1-end
*/

/* 
    footer-2-start
*/
.sr-footer-2 {
    &-area {
        .sr-footer-1-bg-shape {
            top: 31%;
        }
    }
    &-wrap {
        border-radius: 24px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: rgba(55, 55, 55, 0.04);
        padding: 80px 80px;
        padding-bottom: 0;

        @media #{$xl,$lg,$md,$xs} {
            padding: 80px 20px;
            padding-bottom: 0;
        }

        .sr-footer-1 {
            &-disc {
                .disc {
                    margin-top: 0;
                }
            }

            &-widget {
                .widget-title {
                    &::before {
                        display: none;
                    }                    
                    &::after {
                        display: none;
                    }

                    .line-wrap {
                        width: 72px;
                        height: 3px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        overflow: hidden;
                        
                        .line {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            gap: 3px;
                            animation: sr-footer-2-title-line 10s linear infinite;

                            span {
                                background: var(--sr-clr-gd-1);
                                width: 100%;
                                height: 100%;

                                &:nth-child(2) {
                                    width: 30%;
                                }
                            }
                        }

                    }
                }

                &:nth-child(3) {
                    .line-wrap {
                        .line {
                            animation-delay: 1s;
                        }
                    }

                }
        
                
                &:nth-child(4) {
                    .line-wrap {
                        .line {
                            animation-delay: 3s;
                        }
                    }
                }
            }

            &-menu {
                a {
                    color: var(--sr-clr-black-6);
                    &:hover {
                        color: var(--sr-clr-pr-2);
                    }
                }
            }
        }

        .sr-social-1 {
            .link-elm {
                background: rgba(255, 255, 255, 0.08);
                color: #fff;

                &:hover {
                    background: var(--sr-clr-pr-2);
                }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(255 255 255 / 10%);
        padding: 32px 0;
        gap: 20px;
        flex-wrap: wrap;

        @media #{$xs} {
            justify-content: center;
        }
    }

    &-copyright {
        color: #fff;
    }

    &-designed {
        color: #fff;

        a {
            border-bottom: 1px solid rgb(255 255 255 / 30%);
            transition: all .5s var(--sr-cube-1);
            line-height: 1;

            &:hover {
                color: var(--sr-clr-pr-2);
                border-color: var(--sr-clr-pr-2);
            }
        }
    }
}

@keyframes sr-footer-2-title-line {
    0% {
        transform: translateX(-50%) scaleX(2);
    }
    50% {
        transform: translateX(50%) scaleX(2);
    }
    100% {
        transform: translateX(-50%) scaleX(2);
    }
}


/* 
    footer-2-end
*/
/* 
    footer-3-start
*/
.sr-footer-3 {
    &-area {
        background-color: #fff;

        .sr-footer-1-disc {

            @media #{$xl,$lg,$md,$xs} {
                max-width: 275px;
            }
            .disc {
                margin-top: 0;
            }

            .sr-social-1 {
                .link-elm {
                    background: var(--sr-clr-black-7);
                    color: #000;

                    &:hover {
                        background: var(--sr-clr-pr-1);
                        color: #fff;
                    }
                }
            }
        }

        .sr-footer-1-copyright {
            font-weight: 400;
        }

        .sr-footer-1-widget:nth-child(1) {
            margin-right: unset;
        }
    }
    &-newsletter {
        max-width: 330px;
        width: 100%;

        @media #{$lg} {
            max-width: 270px;
        }

        &-input {
            font-family: var(--sr-font-1);
            width: 100%;
            height: 64px;
            border-radius: 12px;
            border: none;
            background: var(--sr-clr-black-7);
            padding-left: 16px;
            padding-right: 125px;
            font-size: 16px;
            color: rgb(0 0 0 / 50%);
        }

        &-btn {
            background: var(--sr-clr-pr-1);
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 12px 16px;
            border-radius: 12px;
            position: absolute;
            right: 8px;
            top: 8px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                transform: scale(97%);
                background: var(--sr-clr-sd-1);
            }
        }
    }
}

/* 
    footer-3-end
*/


/* 
    footer-4-start
*/
.sr-footer-4 {
    &-area {
        background: linear-gradient(0deg, rgb(1 211 211 / 30%) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &-wrap {
        display: flex;
        gap: 100px;
        margin-right: -130px;
        align-items: center;
        flex-wrap: wrap;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
            gap: 50px;
        }
    }

    &-widget {
        .widget-title {
            font-size: 30px;
            font-weight: 800;
        }

        &:nth-child(1) {
            margin-right: auto;
            margin-top: -80px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                margin-top: 0px;
            }
        }
    }

    
    &-menu {
        display: flex;
        flex-direction: column;
        gap: 11px;
        margin-top: 30px;

        li {
            font-weight: 500;
            color: #0f1d37;

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                &:hover {
                    background-size: 100% 100%;
                }
            }
        }
        
    }

    &-logo {
        display: inline-block;
        margin-bottom: 35px;
    }

    &-gallery {
        max-width: 555px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;

        @media #{$xxl} {
            max-width: 525px;
        }
        @media #{$xl} {
            max-width: 355px;
        }

        

        .item-col {
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: start;

            &:nth-child(2) {
                margin-top: 50px;
            }
            &:nth-child(3) {
                margin-top: 80px;
            }
        }

        .single-img {
            display: inline-block;
            border-radius: 20px;
        }
    }


    &-disc {
        max-width: 360px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            max-width: 270px;
        }

        .disc-title {
            font-size: 40px;
            font-weight: 800;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 28px;
            }
        }

        .disc-rating {
            margin-top: 15px;
            margin-bottom: 34px;

            .rating {
                display: flex;
                gap: 5px;
                font-size: 20px;
                color: #ffcc00;
            }

            .title {
                font-size: 15px;
                font-weight: 800;
                color: #000;
                margin-top: 10px;
            }
        }

        .sr-pr-btn-5 {
            background: #1a3300;

            &:hover {
                color: #fff;
            }
        }
    }
    

    &-wrap-2 {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &-menu-2 {
        display: flex;
        gap: 15px 30px;
        flex-wrap: wrap;

        li {
            font-weight: 500;
            color: #000;

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                &:hover {
                    background-size: 100% 100%;
                }
            }
        }
    }
    
    
    &-social {
        display: flex;
        gap: 20px;

        .link-elm {
            width: 36px;
            height: 35px;
            background: #000;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F1FDFD;
            font-size: 15px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }

    &-wrap-3 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding: 25px 0;
        
    }

    &-copyright {
        color: #000;
    }


    &-link {
        display: flex;
        gap: 15px 40px;
        flex-wrap: wrap;

        .link-elm {
            color: #000;
            transition: all .4s var(--sr-cube-1);

            &:hover {
                opacity: .7;
                transform: translateX(3px);
            }
        }
    }
    


    &-marquee {
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: -1;
        opacity: 8%;

        @media #{$xs} {
            bottom: 0px;
        }

        &-item {
            font-size: 365px;
            font-weight: 800;
            color: #5dc1c1;
            line-height: .7;
            display: flex;

            span {
                flex: 0 0 auto;
            }

            @media #{$xxxl} {
                font-size: 345px;
            }
            
            @media #{$xxl} {
                font-size: 325px;
            }
            
            @media #{$xl} {
                font-size: 305px;
            }
            
            @media #{$lg} {
                font-size: 285px;
            }
            
            @media #{$md} {
                font-size: 265px;
            }            
            @media #{$xs} {
                font-size: 185px;
            }            
            @media #{$sm} {
                font-size: 225px;
            }
        }
    }
    
    
}







/* 
    footer-4-end
*/


