/*
    15. header
*/

/* 
    header-1-start
*/
.sr-header-1 {
    &-area {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        background-color: rgb(173 173 173 / 20%);
        border-radius: 12px;
        padding: 0 15px;
        transition: all .5s var(--sr-cube-1);

        @media #{$lg,$md,$xs} {
            padding: 15px 15px; 
        }
    }

    &-action-link {
        display: flex;
        align-items: center;
        gap: 24px;

        .sr-login-btn-1 {
            @media #{$xs} {
                display: none;
            }
        }

        .sr-pr-btn-1 {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }
    }
}




.sr-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 32px;

        li {

            a {
                position: relative;
                z-index: 1;
                font-family: var(--sr-font-1);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: var(--sr-clr-black-5);
                padding: 27px 0;
                display: inline-flex;
                align-items: center;
                gap: 7px;
                transition: all .5s var(--sr-cube-1);
            }

    
            &:hover {

                > a {
                    color: var(--sr-clr-pr-1);
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);

                    li {
                        animation: fadeInDown .3s var(--sr-cube-1) backwards;

                        @for $i from 1 through 20 {
                            &:nth-child(#{$i}) {
                                animation-delay: #{($i * 70)}ms;
                            }
                        }
                    }
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 15px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: #F5F5F5;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: all .5s var(--sr-cube-1);
            
                li {
                    display: block;
                    margin: 0;
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            transform: translateX(5px);
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/




/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/