/*
    15. header
*/

/* 
    header-1-start
*/
.sr-header-1 {
    &-area {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        background-color: rgb(173 173 173 / 20%);
        border-radius: 12px;
        padding: 0 15px;
        transition: all .5s var(--sr-cube-1);

        @media #{$lg,$md,$xs} {
            padding: 15px 15px; 
        }
    }

    &-action-link {
        display: flex;
        align-items: center;
        gap: 24px;

        .sr-login-btn-1 {
            @media #{$xs} {
                display: none;
            }
        }

        .sr-pr-btn-1 {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }
    }
}




.sr-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 32px;

        li {

            a {
                position: relative;
                z-index: 1;
                font-family: var(--sr-font-1);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: var(--sr-clr-black-5);
                padding: 27px 0;
                display: inline-flex;
                align-items: center;
                gap: 7px;
                transition: all .5s var(--sr-cube-1);
            }

    
            &:hover {

                > a {
                    color: var(--sr-clr-pr-1);
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);

                    li {
                        animation: fadeInDown .3s var(--sr-cube-1) backwards;

                        @for $i from 1 through 20 {
                            &:nth-child(#{$i}) {
                                animation-delay: #{($i * 70)}ms;
                            }
                        }
                    }
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 15px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: #F5F5F5;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: all .5s var(--sr-cube-1);
            
                li {
                    display: block;
                    margin: 0;
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            transform: translateX(5px);
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/

/* 
    header-2-start
*/
.has-header-2 {
    .sr-header-1 {
        &-wrap {
            position: relative;
            z-index: 1;
            background-color: transparent;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(107.68deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
                background-blend-mode: overlay;
                backdrop-filter: blur(47.8641px);
                border-radius: 12px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                opacity: .08;
            }
        }

        &-action-link {
            .sr-login-btn-1 {
                color: var(--sr-clr-black-6);

                &:hover {
                    color: var(--sr-clr-pr-2);
                }
            }

            .sr-offcanvas-btn-1 {
                border: 1px solid var(--sr-clr-black-6);
                color: var(--sr-clr-black-6);

                &:hover {
                    border: 1px solid var(--sr-clr-pr-2);
                    color: var(--sr-clr-pr-2);
                }
            }
        }
    }

    &:is(.sr-main-navigation) {
        ul {
            li {
                a {
                    color: var(--sr-clr-black-6);
                }

                &:hover {
                    > a {
                        color: var(--sr-clr-pr-2);
                    }
                }

                .dropdown-menu {
                    background-color: #191D1E;
                }
            }
        }
    }
}

/* 
    header-2-end
*/

/* 
    header-3-start
*/
.has-header-3 {
    &:is(.sr-header-1-area) {
        .sr-header-1-wrap {
            margin: 0px 24px;
            background: #fff;
        }
    }
}
 

/* 
    header-3-end
*/

/* 
    header-4-start
*/
.sr-header-4 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-top {
        background-color: #fff;
        padding: 10px 40px;

        @media #{$lg,$md,$xs} {
            display: none;
        }

        &-wrap {
            display: flex;
            gap: 40px;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            color: var(--sr-clr-black-8);

            .icon {
                color: #3A7DF6;
            }

            &:nth-child(2) {
                .icon {
                    color: #22C55E;
                }
            }
        }
    }

    &-wrap {
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        @media #{$xl} {
            padding: 0 20px;
            gap: 20px;
        }

        
        @media #{$lg,$md,$xs} {
            padding: 15px 15px;
            gap: 20px;
        }
    }


    &-action-link {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-left: auto;

        .sr-pr-btn-5 {
            background: #1a3300;
            font-size: 14px;
            padding: 24px 32px;

            @media #{$xs} {
                display: none;
            }

            &:hover {
                color: #fff;
            }
        }


        .sr-login-btn-1 {
            font-family: var(--sr-font-3);
            font-size: 19px;
            line-height: 1.1;
            position: relative;
            z-index: 1;
            transition: all .5s var(--sr-cube-1);

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #000;
                transition: all .5s var(--sr-cube-1);
                transform-origin: left;
            }
            
            &:hover {
                color: #000;
                &::after {
                    transform: scaleX(0);
                }
            }


            @media #{$xs} {
                display: none;
            }
        }
        
    }
}

.sr-main-navigation {
    &:is(.has-header-4) {
        .navbar-nav {
            gap: 0 60px;
            li {
                position: relative;
                &:not(:last-child) {
                    &::after {
                        content: "-";
                        position: absolute;
                        top: 47%;
                        right: -30px;
                        font-family: var(--sr-font-3);
                        font-weight: 500;
                        font-size: 19px;
                        color: #0e1421;
                        line-height: 1;
                        transform: translateY(-50%);
                        z-index: 1;
                    }
                }

                a {
                    font-family: var(--sr-font-3);
                    font-weight: 500;
                    font-size: 19px;
                    color: #0e1421;
                    padding: 43px 0;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 45px;
                        right: 0;
                        z-index: 1;
                        height: 2px;
                        width: 100%;
                        background: #0e1421;
                        transform-origin: left;
                        transition: all .5s var(--sr-cube-1);
                        transform: scaleX(0);
                    }
                }

                &:hover {
                    > a {
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }

                .dropdown-menu {
                    background-color: #fff;
                    border-radius: 0;
                    border: none;

                    li {
                        a {
                            font-size: 16px;

                            &::after {
                                display: none;
                            }
                        }

                        &:hover {
                            >  a {
                                color: var(--sr-clr-pr-3);
                            }
                        }
                    }
                }
            }
        }
    }
}





/* 
    header-4-end
*/




/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/