/* 
    hero-1-start
*/
.sr-hero-1 {
    &-area {
        padding-top: 230px;
    }

    &-wrap {
        text-align: center;
    }
    &-member {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        border: 1px solid var(--sr-clr-black-6);
        border-radius: 100px;
        background-color: #fff;

        @media #{$xs} {
            flex-wrap: wrap;
            border-radius: 6px;
        }
        @media #{$sm} {
            flex-wrap: nowrap;
            border-radius: 100px;
        }

        &-img {
            display: inline-flex;

            .img-elm {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid #fff;
                flex: 0 0 auto;
                position: relative;

                &:not(:first-child) {
                    margin-left: -10px;
                }

                img {
                    transform: scale(105%);
                    border-radius: 50%;
                }
            }


        }

        .disc {
            color: var(--sr-clr-black-5);
            font-size: 16px;
        }

        .btn-elm {
            font-size: 14px;
            font-weight: 500;
            background: var(--sr-clr-black-3);
            color: #fff;
            border-radius: 100px;
            display: inline-flex;
            align-items: center;
            gap: 4px;
            padding: 6px 12px;
            transition: .3s;

            &:hover {
                background: var(--sr-clr-pr-1);
            }
        }

    }


    &-content {
        max-width: 775px;
        margin-left: auto;
        margin-right: auto;

        .hero-title {
            font-size: 48px;
            line-height: 120%;
            margin-top: 24px;

            @media #{$xl} {
                font-size: 45px;
            }
            @media #{$lg} {
                font-size: 42px;
            }
            @media #{$md} {
                font-size: 38px;
            }
            @media #{$xs} {
                font-size: 32px;
            }
            @media #{$sm} {
                font-size: 35px;
            }
        }
        .hero-disc {
            font-size: 18px;
            margin-top: 10px;
        }

        .hero-btn {
            margin-top: 32px;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    &-brand-logo {
        width: 60px;
        height: 60px;
        background: #fff;
        border: 1px solid rgb(20 19 18 / 6%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        @media #{$md,$xs} {
            display: none;
        }

        &:is(.logo-1) {
            position: absolute;
            left: 10%;
            top: -8%;
            z-index: -1;
        }
        &:is(.logo-2) {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        &:is(.logo-3) {
            position: absolute;
            left: 0;
            top: 18%;
            z-index: -1;
        }
        &:is(.logo-4) {
            position: absolute;
            right: 11%;
            top: 22%;
            z-index: -1;
        }
    }
    
    
}


.sr-hero-1-cursor-shape {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    background: #fff;
    z-index: -1;
    mix-blend-mode: difference;
    filter: blur(30px);
    opacity: .1;
    border-radius: 50%;
}
/* 
    hero-1-end
*/

/* 
    hero-2-start
*/
.has-hero-2 {
    &:is(.sr-hero-1-member) {
        background: linear-gradient(108deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.06) 100%);
        background-blend-mode: overlay;
        border-color: transparent;

        .disc {
            color: #fff;
        }

        .img-elm {
            border: 1.5px solid #fff;
        }

        .btn-elm {
            background-color: #fff;
            color: #000;
            &:hover {
                color: var(--sr-clr-pr-2);
            }
        }
    }

    &:is(.sr-hero-1-content) {
        .hero-title {
            font-size: 60px;
            font-weight: 500;

            b {
                font-weight: 800;
            }

            @media #{$xl} {
                font-size: 55px;
            }
            @media #{$lg} {
                font-size: 50px;
            }
            @media #{$md} {
                font-size: 45px;
            }
            @media #{$xs} {
                font-size: 35px;
            }
            @media #{$sm} {
                font-size: 40px;
            }
        }
    }
}


.sr-hero-2 {
    &-apps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 52px;

        @media #{$xs} {
            flex-wrap: wrap;
            gap: 40px;
            justify-content: center;
        }
        @media #{$sm} {
            flex-wrap: nowrap;
            gap: 0px;
        }
        
        .left {
            display: flex;
            flex-direction: column;
            gap: 150px;
            align-items: start;

            @media #{$lg} {
                gap: 93px;
            }

            @media #{$md,$xs} {
                gap: 40px;
            }

            .sr-hero-2-apps-logo {
                &:nth-child(2) {
                    margin-left: 15px;
                }
            }
        }

        
        &-logo {
            display: inline-flex;
            align-items: center;
            background: linear-gradient(104deg, rgba(255, 255, 255, 0.02) 6.73%, rgba(255, 255, 255, 0.05) 93.48%);
            background-blend-mode: overlay;
            border-radius: 120px;
            gap: 12px;
            padding: 8px;
            padding-right: 20px;

            .icon {
                width: 48px;
                height: 48px;
            }

            .logo {
                width: 48px;
                height: 48px;
                flex: 0 0 auto;
                display: flex;
                background: rgb(255 255 255 / 9%);
                border-radius: 50%;
                padding: 8px;
            }
        }

        &-big-logo {
            width: 100px;
            height: 100px;
            background: var(--sr-clr-gd-1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            padding: 10px;
            position: relative;
            /* z-index: 1; */
        
            &-shadow {
                width: 100%;
                height: 100%;
                background: var(--sr-clr-gd-1);
                background-blend-mode: overlay;
                border-radius: 25px;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                transform: scale(1);
            }
             
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 150px;
            align-items: end;

            @media #{$lg} {
                gap: 93px;
            }

            @media #{$md,$xs} {
                gap: 40px;
            }

            .sr-hero-2-apps-logo {
                padding: 8px;
                padding-left: 20px;
            }

            .sr-hero-2-apps-logo {
                &:nth-child(2) {
                    margin-right: 15px;
                }
            }
        }

        &-svg {
            position: absolute;
            width: 39%;
            top: 50%;
            left: 32%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @media #{$md,$xs} {
                display: none;
            }
        }
        
        
        &-svg-2 {
            position: absolute;
            width: 39%;
            top: 50%;
            right: -6%;
            transform: translate(-50%, -50%) scaleX(-1);
            z-index: -1;

            @media #{$md,$xs} {
                display: none;
            }
        }
    }
}



/* 
    hero-2-end
*/