/* 
    price-1-start
*/
.sr-price-1 {
    &-sec-title {
        .sec-disc {
            margin-top: 12px;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }


    &-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }
    
    &-card {
        background: rgb(248 249 252 / 60%);
        border: 1px solid rgb(213 215 218 / 25%);
        border-radius: 12px;
        padding: 32px 32px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 22px;
        }

        .icon-x-title {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            align-items: start;
        }

        .icon {
            width: 60px;
            height: 60px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(122 90 248 / 8%);
            border-radius: 12px;
            font-size: 20px;
            color: var(--sr-clr-pr-1);
        }

        .limited {
            font-size: 16px;
            color: var(--sr-clr-black-3);
            border-radius: 8px;
            border: 1px solid rgb(213 215 218 / 60%);
            padding: 5px 15px;
            transition: all .5s var(--sr-cube-1);

            
        }

        .package-name {
            font-size: 18px;
            font-weight: 500;
            margin-top: 32px;
        }

        .package-price {
            font-size: 60px;
            font-weight: 800;
            margin-top: 12px;
            line-height: 120%;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 40px;
            }
            span {
                color: var(--sr-clr-black-4);
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
            }
        }

        .card-line {
            width: 100%;
            height: 1px;
            background: radial-gradient(circle,rgba(207, 207, 208, 1) 0%, rgba(0, 0, 0, 0) 100%);
            max-width: 323px;
            margin-top: 16px;
        }

        .package-disc {
            margin-top: 16px;
        }

        .package-btn {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            border: 1px solid rgb(213 215 218 / 50%);
            border-radius: 8px;
            padding: 12px 10px;
            margin-top: 32px;
            transition: all .5s var(--sr-cube-1);
        }

        .package-features {
            background: #fff;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 24px 24px;
            margin-top: 32px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 24px 14px;
            }

            li {
                display: flex;
                align-items: center;
                gap: 10px;

                &:is(.has-disable) {
                    opacity: 60%;
                }
            }
        }

        &:hover {
            .limited, .package-btn {
                background: var(--sr-clr-pr-1);
                color: #fff;
                border-color: transparent;
            }
        }
    }
    

    


    &-tabs {
        &-btn {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            border: 1px solid rgb(213 215 218 / 70%);
            border-radius: 100px;
            padding: 6px 8px;
            margin-top: 32px;

            .nav-link {
            
                border-radius: 100px;
                font-size: 16px;
                color: var(--sr-clr-black-3);
                padding: 6px 17px;
                background: transparent;

                &:is(.active) {
                    background: var(--sr-clr-black-7);
                }

                &:not(.active) {
                    &:hover {
                        color: var(--sr-clr-pr-1);
                    }
                }
            }

            .offer-price {
                background: rgb(119 85 255 / 8%);
                border-radius: 100px;
                font-size: 14px;
                color: var(--sr-clr-pr-1);
                padding: 3px 10px;
            }
        }
    }


    
    
}


/* 
    price-1-end
*/
/* 
    price-2-start
*/
.sr-price-2 {
    &-sec-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 486px;
        }
        .right {
            max-width: 416px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: start;
        }

    }

    &-tabs {
        &-btn {
            display: inline-flex;
            padding: 6px 8px;
            border: 1px solid rgb(255 255 255 / 8%);
            border-radius: 100px;
            background: linear-gradient(108deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.05) 100%);
            gap: 12px;

            .nav-link {
                font-size: 16px;
                color: #fff;
                border-radius: 100px;
                background: transparent;
                padding: 5px 17px;
                transition: all .5s var(--sr-cube-1);

                &:is(.active) {
                    background: var(--sr-clr-gd-1);
                }

                &:not(.active) {
                    &:hover {
                        color: var(--sr-clr-pr-2);
                    }
                }
            }
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.42fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-package {
        display: flex;
        flex-direction: column;
        gap: 20px;


        &-single {
            border-radius: 12px;
            border: 1px solid rgb(213 215 218 / 5%);
            background: linear-gradient(93deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
            background-blend-mode: overlay;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 40px 40px;
            align-items: center;
            transition: all .5s var(--sr-cube-1);

            @media #{$xl,$lg,$md,$xs} {
                padding: 40px 20px;
            }

            .title {
                font-weight: 24px;
                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }
            .disc {
                margin-top: 12px;
            }


            .left {
                max-width: 380px;
            }
            .price {
                font-size: 54px;
                font-weight: 700;
                letter-spacing: -2px;
                line-height: 100%;
                @media #{$xl,$lg,$md,$xs} {
                    font-size: 35px;
                }
            }

            .per-month {
                font-size: 16px;
                margin-top: 8px;
            }

            &:hover {
                border-color: var(--sr-clr-pr-2);
            }

        }

        .nav-link {
            width: 100%;
            background: transparent;
            text-align: left;

            &:is(.active) {
                .sr-price-2-package-single {
                    border-color: var(--sr-clr-pr-2);
                }
            }
        }

    }

    &-features {
        border-radius: 12px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: linear-gradient(93deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.01) 100%);
        background-blend-mode: overlay;
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 30px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .title {
            font-size: 24px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }

        .features-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
                display: flex;
                gap: 8px;
            }
        }

        .price-btn {
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            background: var(--sr-clr-gd-1);
            border-radius: 100px;
            padding: 18px 15px;
        }
    }

    &-tabs-2-pane {
        .tab-pane {
            height: 100%;

            &:is(.show) {
                .sr-price-2-features {
                    .title {
                        animation: fadeInUp2 .3s;
                        animation-timing-function: var(--sr-cube-1);
                    }
                    .features-list {
                        li {
                            animation: fadeInUp2 .3s backwards;
                            animation-timing-function: var(--sr-cube-1);

                            &:nth-child(1) {
                                animation-delay: .1s;
                            }
                            &:nth-child(2) {
                                animation-delay: .15s;
                            }
                            &:nth-child(3) {
                                animation-delay: .2s;
                            }
                            &:nth-child(4) {
                                animation-delay: .25s;
                            }
                            &:nth-child(5) {
                                animation-delay: .3s;
                            }
                            &:nth-child(6) {
                                animation-delay: .35s;
                            }
                            &:nth-child(7) {
                                animation-delay: .4s;
                            }
                        }
                    }

                    .price-btn {
                        animation: fadeInUp2 .3s backwards;
                        animation-timing-function: var(--sr-cube-1); 
                        animation-delay: .45s;
                    }
                }
            }
        }
    }
}


/* 
    price-2-end
*/
/* 
    price-3-start
*/
.sr-price-3 {
    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 2fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-content {
        .sec-disc {
            margin-top: 12px;
        }

        .btn-wrap {
            margin-top: 40px;
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            gap: 12px;
            margin-top: 24px;

            .nav-link {
                font-size: 18px;
                background: transparent;
                font-weight: 500;
                display: flex;
                gap: 12px;
                align-items: center;

                .button-toggle {
                    width: 50px;
                    height: 28px;
                    border: 1px solid rgb(46 48 51 / 12%);
                    border-radius: 32px;
                    position: relative;
                    z-index: 1;
                    flex: 0 0 auto;
                    cursor: auto;

                    &::after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        background: var(--sr-clr-sd-1);
                        border-radius: 50%;
                        transition: all .5s var(--sr-cube-1);
                    }
                }

                &:not(.active) {
                    color: rgb(8 8 10 / 60%);
                    .button-toggle {
                        &::after {
                            left: 23px;
                        }
                    }

                    &:hover {
                        color: var(--sr-clr-pr-1);
                    }
                }
            }
        }
    }

    &-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns: 1fr; 
        }


        .sr-price-1-card {
            background: #fff;
            padding: 40px 40px;
            border: none;

            @media #{$xl,$lg,$md,$xs} {
                padding: 40px 20px;
            }

            .limited {
                display: inline-block;
                border-radius: 100px;
            }

            .package-btn {
                margin-top: 24px;
            }

            .card-line {
                background: rgb(0 0 0 / 5%);
                margin-top: 24px;
            }

            .package-features {
                padding: 0;
                margin-top: 40px;
            }
        }
    }
    
}

/* 
    price-3-end
*/
/* 
    price-4-start
*/
.sr-price-4 {
    &-sec-title {
        max-width: 910px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }

        
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        position: relative;
        z-index: 1;
        padding: 10px;
        box-shadow: -0px 82.954px 38px 0px rgba(0, 0, 0, 0.03);
        overflow: hidden;
        border-radius: 40px;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--sr-clr-gd-2);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            transition: all .5s var(--sr-cube-1);
        }

        .bg-clr {
            background-color: #fff;
            border-radius: 40px;
        }

        .money-back {
            text-align: center;
            color: #fff;
            font-size: 15px;
            padding-bottom: 15px;
            padding-top: 10px;
            font-weight: 500;
            opacity: 0;
            transition: all .5s var(--sr-cube-1);
        }

        .card-top {
            border-radius: 40px;
            padding: 40px 50px;
            background: #fafcfe;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 40px 15px;
            }
        }
        .subtitle {
            display: flex;
            gap: 10px;
            font-size: 18px;

            .icon {
                width: 23px;
                height: 23px;
                background: #426FE6;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
        }

        .package-name {
            font-size: 40px;
            font-weight: 800;
            color: #0f1d37;
            margin-top: 11px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 34px;
            }
        }
        .package-disc {
            font-size: 15px;
            font-weight: 600;
        }

        .hr-line {
            width: 100%;
            height: 1px;
            background: #D8D8D8;
            margin-top: 30px;
        }

        .button-x-price {
            display: flex;
            align-items: center;
            margin-top: 30px;
            gap: 20px;
            flex-wrap: wrap;
        }
        .sr-pr-btn-5 {
            background: #1a3300;
            padding: 17px 35px;
            font-weight: 500;
        }

        .price {
            font-size: 27px;
            font-weight: 800;

            span {
                font-size: 14px;
                font-weight: 500;
            }
        }

        .price-disc {
            font-size: 11px;
        }
        
        .sr-about-4-list {
            margin: 0;
            margin-left: 80px;
            padding: 45px 0;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                margin-left: 20px;
            }
        
            li {
                font-size: 16px;
                color: #0f1d37;
                font-weight: 700;
            }
        }

        &:is(.active) {
            &::after {
                opacity: 1;
            }
            .money-back {
                opacity: 1;
            }
        }
    }

    &-trust {
        text-align: center;
        margin-top: 70px;

        i {
            color: #00B67A;
        }
    }

    &-division-line {
        width: 100%;
        height: 1px;
        background: #F0F0F0;
    }
    
}












/* 
    price-4-end
*/