/* 
    services-1-start
*/
.sr-services-1 {
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }
    }
    &-left {
        max-width: 635px;
    }

    &-sec-title {
        .sec-disc {
            max-width: 500px;
            margin-top: 12px;
        }
    }

    &-tags {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;

        .tags-elm {
            background: var(--sr-clr-black-7);
            border-radius: 100px;
            color: var(--sr-clr-black-3);
            font-size: 16px;
            padding: 9px 16px;
            transition: all .5s var(--sr-cube-1);

            &:hover {
                background: var(--sr-clr-pr-1);
                color: #fff;
            }
        }
    }

    &-right {
        max-width: 525px;
        border-left: 1px solid var(--sr-clr-black-6);
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    &-item {
        padding: 24px 40px;
        position: relative;
        z-index: 1;
        transition: all .5s var(--sr-cube-1);

        &::after {
            content: "";
            width: 3px;
            height: 70%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, var(--sr-clr-pr-1) 100%);
            position: absolute;
            left: 0;
        }

        
        &::before {
            content: "";
            width: 3px;
            height: 48px;
            top: 23px;
            z-index: 1;
            background: var(--sr-clr-pr-1) ;
            position: absolute;
            left: 0;
        }

        .title {
            font-size: 20px;
            transition: all .5s var(--sr-cube-1);


            a {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .icon {
                width: 48px;
                height: 48px;
                background: var(--sr-clr-black-7);
                flex: 0 0 auto;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 23px;
                color: var(--sr-clr-pr-1);
                transition: all .5s var(--sr-cube-1);
            }

            &:hover {
                color: var(--sr-clr-pr-1);
                .icon {
                    img, i {
                        animation: pulse 1s;
                    }
                }
            }
        }

        .disc {
            font-size: 16px;
            margin-top: 12px;
        }

        &:hover {
            background: #F8F9FC;
            .title {
                .icon {
                    background: rgb(122 90 248 / 10%);
                }
            }
        }
        
    }
    
    
}




/* 
    services-1-end
*/
/* 
    services-2-start
*/
.sr-services-2 {
    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-tags {
        &::after {
            content: "";
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg,#0B0D0C 0%, rgba(0, 90, 255, 0) 100%);
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(1700deg,#0B0D0C 0%, rgba(0, 90, 255, 0) 100%);
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }

        &-wrap {
            display: flex;
            gap: 24px;
            margin-right: 24px;

            
        }
        &-single {
            flex: 0 0 auto;
            border-radius: 100px;
            border: 1px solid rgba(213, 215, 218, 0.05);
            background: linear-gradient(107deg, rgba(255, 255, 255, 0.01) 5.84%, rgba(255, 255, 255, 0.02) 70.7%);
            background-blend-mode: overlay;
            backdrop-filter: blur(3px);
            padding: 11px 23px;
        }
    }
}


/* 
    services-2-end
*/

/* 
    services-3-start
*/
.sr-services-3 {
    &-sec-title {
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-item {
        text-align: center;
        background-color: #F8F9FC;
        border: 12px solid #fff;
        border-radius: 12px;
        padding: 65px 15px;

        .icon {
            display: inline-flex;
            width: 72px;
            height: 72px;
            border-radius: 12px;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: var(--sr-clr-pr-1);

            &::before {
                background: var(--sr-clr-black-7);
                border-radius: 10px;
            }

            &::after {
                background: linear-gradient(50deg, rgba(0, 0, 0, 0) 20%, var(--sr-clr-pr-1) 50%, rgba(0, 0, 0, 0) 80%);
                border-radius: 10px;
            }
        }

        .title {
            font-size: 24px;
            margin-top: 32px;
            transition: all .3s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }

            @media #{$md,$xs} {
                font-size: 22px;
            }
        }

        .disc {
            margin-top: 14px;
            max-width: 420px;
            margin-left: auto;
            margin-right: auto;
        }

        &:nth-child(odd) {
            .icon {
                &::after {
                    animation-delay: 1.5s;
                }
            }
        }
    }
    

}
/* 
    services-3-end
*/

/* 
    services-4-start
*/

.sr-services-4 {
    &-sec-title {
        .sec-disc {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-wrap {
        max-width: 1395px;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 50px;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: self-start;

        &-step {
            background: #F8F8F8;
            display: inline-block;
            font-weight: 500;
            padding: 10px 30px;
            border-radius: 6px;
        }
    }

    &-item {
        padding-left: 90px;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            padding-left: 0px;
        }
        @media #{$sm} {
            padding-left: 90px;
        }

        .item-line {
            width: 3px;
            height: 100%;
            background: #e4e4e4;
            position: absolute;
            top: 0;
            left: 0;

            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-block;
            }

            &::after {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 3px solid #e4e4e4;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                z-index: 1;
                background: #fff;
                transition: all .5s var(--sr-cube-1);
            }
        }

        .content-wrap {
            display: flex;
            gap: 25px;
            align-items: center;
        }

        .icon {
            flex: 0 0 auto;
            width: 70px;
        }
        
        .title {
            font-size: 26px;

            @media #{$xl,$lg,$md} {
                font-size: 22px;
            }
            @media #{$xl,$lg,$md} {
                font-size: 22px;
            }
        }

        .disc {
            margin-top: 14px;
        }

        .content-wrap {
            border-bottom: 1px solid #E3E3E3;
            padding: 30px 0;
        }
    }

    &-slider {
        height: 482px;
        padding-left: 28px;
        .swiper-slide {
            max-width: 660px;
            height: auto !important;

            &:is(.swiper-slide-active) {
                .item-line {
                    &::after {
                        top: 20%;
                    }
                }
            }
        }


        &-btn {
            position: absolute;
            top: 0;
            left: 0;
            background: var(--sr-clr-gd-2);
            width: 60px;
            height: 60px;
            z-index: 2;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .line {
                width: 30px;
                height: 2px;
                background: #fff;
            }

            .single-btn {
                color: #fff;
                transition: all .5s var(--sr-cube-1);

                &:hover {
                    color: #000;
                }
            }
        }
    }
}


/* 
    services-4-end
*/