/* 
    team-3-start
*/
.sr-team-3 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .left {
            max-width: 420px;
        }

        .right {
            max-width: 420px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
        
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-item {
        text-align: center;
        background: #fff;
        padding: 32px;
        border-radius: 12px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 20px;   
        }

        .member-img {
            height: 200px;
            border-radius: 12px;
            margin-bottom: 24px;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 300px;
                height: 300px;
                background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
                position: absolute;
                inset: 0;
                transform: translate(80%, -70%);
                transition: all 1s var(--sr-cube-1);   
                opacity: 0;
            }

            img {
                transition: all .5s var(--sr-cube-1);
            }
        }

        .member-name {
            font-size: 22px;
            transition: all .3s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }
        }

        .member-dg {
            margin-top: 8px;
        }

        .sr-social-1 {
            justify-content: center;
            gap: 8px;
            margin-top: 24px;

            .link-elm {
                background: var(--sr-clr-black-7);
                color: rgb(84 89 99 / 70%);

                &:hover {
                    background-color: var(--sr-clr-pr-1);
                    color: #fff;
                }
            }
        }

        &:hover {
            .member-img {
                &::after {
                    transform: translate(-80%, 70%);
                    opacity: .3;
                }
                img {
                    transform: scale(104%);
                }
            }
        }
    }
    
}

/* 
    team-3-end
*/
/* 
    team-4-start
*/

.sr-team-4 {
    &-sec-title {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px;
    }
}


/* 
    team-4-end
*/