/* 
    team-3-start
*/
.sr-team-3 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .left {
            max-width: 420px;
        }

        .right {
            max-width: 420px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
        
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-item {
        text-align: center;
        background: #fff;
        padding: 32px;
        border-radius: 12px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 20px;   
        }

        .member-img {
            height: 200px;
            border-radius: 12px;
            margin-bottom: 24px;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 300px;
                height: 300px;
                background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
                position: absolute;
                inset: 0;
                transform: translate(80%, -70%);
                transition: all 1s var(--sr-cube-1);   
                opacity: 0;
            }

            img {
                transition: all .5s var(--sr-cube-1);
            }
        }

        .member-name {
            font-size: 22px;
            transition: all .3s var(--sr-cube-1);

            &:hover {
                color: var(--sr-clr-pr-1);
            }
        }

        .member-dg {
            margin-top: 8px;
        }

        .sr-social-1 {
            justify-content: center;
            gap: 8px;
            margin-top: 24px;

            .link-elm {
                background: var(--sr-clr-black-7);
                color: rgb(84 89 99 / 70%);

                &:hover {
                    background-color: var(--sr-clr-pr-1);
                    color: #fff;
                }
            }
        }

        &:hover {
            .member-img {
                &::after {
                    transform: translate(-80%, 70%);
                    opacity: .3;
                }
                img {
                    transform: scale(104%);
                }
            }
        }
    }
    
}

/* 
    team-3-end
*/
/* 
    team-4-start
*/

.sr-team-4 {
    &-sec-title {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px;

        @media #{$xl,$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }        
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }


    &-member {
        border: 2px solid rgb(231, 238, 254);
        border-radius: 10px;
        padding: 20px;
        transition: all .5s var(--sr-cube-1);

        .member-img {
            height: 403px;
            border-radius: 10px;
            margin-bottom: 26px;

            @media #{$lg,$md,$xs} {
                height: 360px;
            }

            img {
                object-position: top;
                transition: all .5s var(--sr-cube-1);
            }
        }

        .content {
            padding: 0 20px;
            transition: all .5s var(--sr-cube-1);
        }

        .name {
            font-size: 25px;
            transition: all .5s var(--sr-cube-1);

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            &:hover {
                color: var(--sr-clr-pr-3);
            }
        }

        .member-dg {
            color: var(--sr-clr-black-8);
            font-size: 17px;
            font-weight: 500;
            margin-top: 3px;
        }

        .sr-social-1 {
            background: var(--sr-clr-gd-2);
            flex-direction: column;
            position: absolute;
            left: 10px;
            bottom: -20px;
            border-radius: 100px;
            padding: 10px;
            transform: translateY(-20px);
            opacity: 0;
            transition: all .5s var(--sr-cube-1);

            .link-elm {
                width: 25px;
                height: 25px;
                color: var(--sr-clr-pr-3);
                font-size: 12px;

                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }

        &:hover {
            .content {
                transform: translateX(30px);
            }
            .sr-social-1 {
                transform: translateY(0);
                opacity: 1;
            }

            .member-img {
                img {
                    transform: scale(102%);
                }
            }
        }
        
    }

}


/* 
    team-4-end
*/
/* 
    team-5-start
*/
.sr-team-5 {
    &-wrap {
        max-width: 1125px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap-2 {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &-member {
        background-color: #f8f4ff;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 2.4fr;
        gap: 50px;
        padding: 40px 35px;
        align-items: center;

        @media #{$md} {
            grid-template-columns: 1fr 2fr;
            gap: 30px;
            padding: 40px 20px;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            gap: 30px;
            padding: 40px 20px;
        }

        .member-img {
            border-radius: 20px;
            height: 290px;
            perspective: 2000px;
            transform-style: preserve-3d;

            img {
                transition: all 1s var(--sr-cube-1);
            }
        }

        .member-social {
            display: flex;
            gap: 10px;

            .link-elm {
                flex: 0 0 auto;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background: #000;
                border-radius: 50%;
                color: #fff;
                font-size: 16px;
                transition: all .5s var(--sr-cube-1);

                &:hover {
                    background-color: var(--sr-clr-sd-5);
                }
            }
        }

        .member-dg {
            font-size: 23px;
            max-width: 650px;
            margin-top: 22px;

            @media #{$md,$xs} {
                font-size: 18px;
            }
        }


        .member-name {
            display: inline-block;
            font-weight: 700;
            letter-spacing: -0.03em;
            font-size: 28px;
            background: linear-gradient(135deg, #000 35%, #f46800);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 40px;

            @media #{$xs} {
                font-size: 24px;
            }
        }

        &:hover {
            .member-img {
                img {
                    transform-origin: 50% 100%;
                    transform: rotateX(5deg) scale3d(1.05, 1.05, 1);
                }
            }
        }

        &:nth-child(2) {
            background: #f4fffd;
        }
    }
}


/* 
    team-5-end
*/