/* 
    testimonial-1-start
*/
.sr-testimonial-1 {
    &-sec-title {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }


    &-item {
        background-color: rgb(248 249 252 / 70%);
        border: 1px solid rgb(0 0 0 / 3%);
        border-radius: 20px;
        padding: 12px;
        padding-bottom: 24px;

        .content-wrap {
            border-radius: 20px;
            background-color: #fff;
            padding: 32px 32px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 32px 20px;
            }
        }

        .rating-x-social {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
            align-items: center;
        }
        .author-social {
            font-size: 22px;
            color: var(--sr-clr-pr-1);
            opacity: 40%;
            transition: .3s;
        }

        .comment {
            margin-top: 30px;
            border-bottom: 1px dashed var(--sr-clr-black-6);
            padding-bottom: 24px;
        }


        .author {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 12px;
            gap: 12px;
            margin-top: 24px;

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 12px;
            }

            &-name {
                font-size: 20px;
            }
            &-dg {
                font-size: 16px;
                margin-top: 3px;
            }
        }

        &:hover {
            .author-social {
                opacity: 1;
            }
        }
        
        
    }
    

    &-slider {
        &-btn {
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-top: 60px;

            span {
                margin: 0 !important;
                width: 48px;
                height: 6px;
                background: var(--sr-clr-pr-1);
                opacity: 1;
                border-radius: 3px;
                opacity: .3;
                transition: .1s;

                &:hover {
                    opacity: 1;
                }

                &:is(.swiper-pagination-bullet-active) {
                    opacity: 1;
                }
            }
        }
    }
    

}


/* 
    testimonial-1-end
*/
/* 
    testimonial-2-start
*/
.sr-testimonial-2 {
    &-sec-title {
        .sr-sec-title-2 {
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }

        .sec-disc {
            margin-top: 12px;
            opacity: .9;
        }
    }
    &-item {
        border-radius: 16px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: linear-gradient(107deg, rgba(255, 255, 255, 0.04) 5.84%, rgba(255, 255, 255, 0.01) 70.7%);
        background-blend-mode: overlay;
        padding: 12px;
        padding-right: 0;
        display: grid;
        grid-template-columns: 1fr 1.74fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        
        @media #{$sm} {
            grid-template-columns: 1fr 1.74fr;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            border-radius: 12px;
            background-color: #171918;
            padding: 36px 10px;
        }

        .author-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 45px;
            padding: 20px 35px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 20px 20px;
            }
        }

        .logo-x-quote {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
        }
        .quote {
            opacity: 4%;
        }

        .sr-rating-1 {
            gap: 5px;
            color: var(--sr-clr-pr-2);
        }

        .author-name {
            font-weight: 500;
            font-size: 20px;
        }
    }

    &-slider-pagi {
        &:is(.sr-testimonial-1-slider-btn) {
            span {
                background: var(--sr-clr-gd-1);
            }
        }
    }
}




/* 
    testimonial-2-end
*/
/* 
    testimonial-3-start
*/
.sr-testimonial-3 {
    &-sec-title {
        .sec-disc {
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 12px;
        }
    }

    &-stories {
        max-width: 1076px;
        display: grid;
        grid-template-columns: 1.07fr 1fr;
        margin-left: auto;
        margin-right: auto;
        gap: 60px;
        align-items: center;

        @media #{$md} {
            gap: 40px;
        }

        @media #{$xs} {
            gap: 40px;
            grid-template-columns: 1fr;
        }

        .main-img {
            height: 360px;
            border-radius: 24px;
        }
        .comment {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 24px;

            @media #{$md,$xs} {
                font-size: 20px;
            }
        }
        
        .author-name {
            font-size: 20px;
            margin-bottom: 4px;
        }

        .author-dg {
            margin-bottom: 40px;
        }
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        .sr-testimonial-1-item {
            background-color: transparent;
            text-align: center;
            padding: 32px 32px;
            transition: all .5s var(--sr-cube-1);
            border: none;


            .sr-rating-1 {
                justify-content: center;
                color: var(--sr-clr-pr-2);
                font-size: 18px;
            }

            .comment {
                margin-top: 24px;
            }
            
            .author {
                text-align: left;
                padding: 0;

                .author-social {
                    margin-left: auto;
                }
            }

            &:hover {
                background-color: #fff;
            }
        }
    }
}

/* 
    testimonial-3-end
*/