/* 
    testimonial-1-start
*/
.sr-testimonial-1 {
    &-sec-title {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }


    &-item {
        background-color: rgb(248 249 252 / 70%);
        border: 1px solid rgb(0 0 0 / 3%);
        border-radius: 20px;
        padding: 12px;
        padding-bottom: 24px;

        .content-wrap {
            border-radius: 20px;
            background-color: #fff;
            padding: 32px 32px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 32px 20px;
            }
        }

        .rating-x-social {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
            align-items: center;
        }
        .author-social {
            font-size: 22px;
            color: var(--sr-clr-pr-1);
            opacity: 40%;
            transition: .3s;
        }

        .comment {
            margin-top: 30px;
            border-bottom: 1px dashed var(--sr-clr-black-6);
            padding-bottom: 24px;
        }


        .author {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 12px;
            gap: 12px;
            margin-top: 24px;

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 12px;
            }

            &-name {
                font-size: 20px;
            }
            &-dg {
                font-size: 16px;
                margin-top: 3px;
            }
        }

        &:hover {
            .author-social {
                opacity: 1;
            }
        }
        
        
    }
    

    &-slider {
  
        &-btn {
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-top: 60px;

            span {
                margin: 0 !important;
                width: 48px;
                height: 6px;
                background: var(--sr-clr-pr-1);
                opacity: 1;
                border-radius: 3px;
                opacity: .3;
                transition: .1s;

                &:hover {
                    opacity: 1;
                }

                &:is(.swiper-pagination-bullet-active) {
                    opacity: 1;
                }
            }
        }
    }
    

}


/* 
    testimonial-1-end
*/
/* 
    testimonial-2-start
*/
.sr-testimonial-2 {
    &-sec-title {
        .sr-sec-title-2 {
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }

        .sec-disc {
            margin-top: 12px;
            opacity: .9;
        }
    }
    &-item {
        border-radius: 16px;
        border: 1px solid rgb(213 215 218 / 5%);
        background: linear-gradient(107deg, rgba(255, 255, 255, 0.04) 5.84%, rgba(255, 255, 255, 0.01) 70.7%);
        background-blend-mode: overlay;
        padding: 12px;
        padding-right: 0;
        display: grid;
        grid-template-columns: 1fr 1.74fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        
        @media #{$sm} {
            grid-template-columns: 1fr 1.74fr;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            border-radius: 12px;
            background-color: #171918;
            padding: 36px 10px;
        }

        .author-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 45px;
            padding: 20px 35px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 20px 20px;
            }
        }

        .logo-x-quote {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
        }
        .quote {
            opacity: 4%;
        }

        .sr-rating-1 {
            gap: 5px;
            color: var(--sr-clr-pr-2);
        }

        .author-name {
            font-weight: 500;
            font-size: 20px;
        }
    }

    &-slider-pagi {
        &:is(.sr-testimonial-1-slider-btn) {
            span {
                background: var(--sr-clr-gd-1);
            }
        }
    }
}




/* 
    testimonial-2-end
*/
/* 
    testimonial-3-start
*/
.sr-testimonial-3 {
    &-sec-title {
        .sec-disc {
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 12px;
        }
    }

    &-stories {
        max-width: 1076px;
        display: grid;
        grid-template-columns: 1.07fr 1fr;
        margin-left: auto;
        margin-right: auto;
        gap: 60px;
        align-items: center;

        @media #{$md} {
            gap: 40px;
        }

        @media #{$xs} {
            gap: 40px;
            grid-template-columns: 1fr;
        }

        .main-img {
            height: 360px;
            border-radius: 24px;
        }
        .comment {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 24px;

            @media #{$md,$xs} {
                font-size: 20px;
            }
        }
        
        .author-name {
            font-size: 20px;
            margin-bottom: 4px;
        }

        .author-dg {
            margin-bottom: 40px;
        }
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        .sr-testimonial-1-item {
            background-color: transparent;
            text-align: center;
            padding: 32px 32px;
            transition: all .5s var(--sr-cube-1);
            border: none;

            @media #{$lg,$md,$xs} {
                padding: 32px 20px;
            }


            .sr-rating-1 {
                justify-content: center;
                color: var(--sr-clr-pr-2);
                font-size: 18px;
            }

            .comment {
                margin-top: 24px;
            }
            
            .author {
                text-align: left;
                padding: 0;

                .author-social {
                    margin-left: auto;
                }
            }

            &:hover {
                background-color: #fff;
            }
        }
    }
}

/* 
    testimonial-3-end
*/


/* 
    testimonial-4-start
*/
.sr-testimonial-4 {
    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        .sr-subtitle-4-icon {
            top: 50%;
            left: -2px;
        }

        .sec-disc {
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }

        
    }

    &-wrap {
        &::after {
            content: "";
            width: 500px;
            height: 100%;
            background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            @media #{$lg,$md,$xs} {
                max-width: 300px;
            }
        }
        &::before {
            content: "";
            width: 500px;
            height: 100%;
            background: linear-gradient(270deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            @media #{$lg,$md} {
                max-width: 300px;
            }
            @media #{$xs} {
                max-width: 100px;
            }
        }
    }

    &-item {
        display: flex;
        gap: 20px;
        margin-right: 20px;

        &-single {
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            box-shadow: -0.521px 2.954px 38px 0px rgba(0, 0, 0, 0.05);
            max-width: 475px;
            padding: 25px 30px;
            flex: 0 0 auto;

            .author-name {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 20px;
            }

            .author-img {
                width: 40px;
                height: 40px;
                flex: 0 0 auto;
                border-radius: 50%;
                display: flex;
            }

            .comment {
                font-weight: 500;
                margin-top: 13px;
            }

            .rating {
                display: flex;
                gap: 6px;
                font-size: 16px;
                color: #E5B91A;
                margin-top: 14px;
            }
        }
    }
    
}


/* 
    testimonial-4-end
*/
/* 
    testimonial-5-start
*/
.sr-testimonial-5 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 2.8fr;
        gap: 50px;

        @media #{$lg} {
            grid-template-columns: 1fr 2.3fr;
        }
        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        .rating-elm {
            font-weight: 600;
            color: #021639;
            margin-bottom: 11px;

            .icon {
                font-size: 16px;
                margin-right: 10px;
                transform: translateY(-2px);
                color: #FF9900;
            }
        }

        
        .sr-sec-title-5 {
            margin-bottom: 40px;
        }

        .arrow-shape {
            position: absolute;
            right: -40px;
            bottom: 0;
            transform-origin: top left;
            animation: swing 5s linear infinite;

            @media #{$xs} {
                display: none;
            }
        }
    }

    &-left {
        margin-top: 50px;

        &-img {
            margin-left: -210px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                margin-left: 0px;
            }
        }
    }

    &-right {
        height: 650px;
        display: flex;
        align-items: end;
        padding-left: 150px;

        @media #{$md} {
            padding-left: 0px;
        }
        @media #{$xs} {
            padding-left: 0px;
            overflow: hidden;
        }

        &-img {
            &-1 {
                width: 213px;
                height: 213px;
                border-radius: 50%;
                position: absolute;
                top: 41%;
                left: 10%;
                box-shadow: 0px 70px 120px 0px rgba(72, 71, 80, 0.25);
            }

            &-2 {
                width: 280px;
                height: 280px;
                border-radius: 50%;
                position: absolute;
                left: 31%;
                top: 0;
                box-shadow: 0px 150px 170px 0px rgba(72, 71, 80, 0.2);
                @media #{$xs} {
                    display: none;
                }
            }

            &-3 {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                right: 28%;
                top: 6%;
            }

            &-4 {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 16%;
                box-shadow: 0px 150px 170px 0px rgba(72, 71, 80, 0.2);

                @media #{$xs} {
                    display: none;
                }
            
            }

            &-5 {
                width: 115px;
                height: 115px;
                border-radius: 50%;
                position: absolute;
                right: 38%;
                top: 50%;
                box-shadow: 0px 70px 120px 0px rgba(72, 71, 80, 0.25);
            }

            &-6 {
                width: 165px;
                height: 165px;
                border-radius: 50%;
                position: absolute;
                bottom: 5%;
                right: 6%;
                box-shadow: 0px 20px 120px 0px rgba(72, 71, 80, 0.25);
            }

            &-7 {
                position: absolute;
                left: 50%;
                bottom: 0;
                z-index: 2;
            }
        }
    }


    &-slider {
        background: #131313;
        max-width: 423px;
        border-radius: 30px;
        position: relative;
        z-index: 1;
        width: 100%;
        cursor: e-resize;
        
        &-item {
            padding: 40px 50px;
            width: 100%;
            .comment {
                color: #fff;
                font-size: 24px;
                font-weight: 400;
                font-style: italic;
            }

            .author-name {
                color: #fc4827;
                font-size: 20px;
                margin-top: 40px;
            }

            .author-bio {
                font-size: 14px;
                color: #fff;
                margin-top: 10px;
            }
        }


    }



 
}


/* 
    testimonial-5-end
*/