/* 
    workflow-1-start
*/
.sr-workflow-1 {
    &-bg {
        border-radius: 32px;
    }
    &-sec-title {
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }

    &-wrap {
        display: flex;
        gap: 20px;
        @media #{$xl,$lg,$md,$xs} {
            flex-wrap: wrap;
        }


        .inner-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: end;

            &:nth-child(3) {
                margin-bottom: 60px;
            }
            &:nth-child(5) {
                margin-bottom: 60px;
            }
            &:nth-child(7) {
                margin-bottom: 60px;
            }            
            &:nth-child(9) {
                margin-bottom: 52px;
            }
        }
    }

    &-logo {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex: 0 0 auto;
    }

}
/* 
    workflow-1-end
*/