/* 
    workflow-1-start
*/
.sr-workflow-1 {
    &-bg {
        border-radius: 32px;
    }
    &-sec-title {
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }

    &-wrap {
        display: flex;
        gap: 20px;
        @media #{$xl,$lg,$md,$xs} {
            flex-wrap: wrap;
        }


        .inner-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: end;

            &:nth-child(3) {
                margin-bottom: 60px;
            }
            &:nth-child(5) {
                margin-bottom: 60px;
            }
            &:nth-child(7) {
                margin-bottom: 60px;
            }            
            &:nth-child(9) {
                margin-bottom: 52px;
            }
        }



    }

    &-logo {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background: linear-gradient(135deg, #FFFFFF 0%, #FBFBFB 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex: 0 0 auto;
        // opacity: 0;
    }

}
/* 
    workflow-1-end
*/

/* 
    workflow-1-end
*/
.sr-workflow-2 {
    &-sec-title {
        .sec-disc {
            opacity: .9;
            margin-top: 12px;
        }
    }

    &-max-width {
        max-width: 1076px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 120px 180px;

        @media #{$xs} {
            gap: 30px 30px;
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            gap: 30px 30px;
            grid-template-columns: 1fr 1fr;
        }
    }

    &-item {
        text-align: center;
        padding: 32px 32px;

        @media #{$xs} {
            padding: 32px 20px;
        }

        .icon {
            display: inline-flex;
            width: 60px;
            height: 60px;
            padding: 14px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;

            i, img {
                font-size: 30px;
                color: var(--sr-clr-pr-2);
            }

            &::before {
                border-radius: 12px;
            }
        }

        .disc {
            opacity: .9;
            margin-top: 32px;
        }

        &:nth-child(2) {
            .icon {
                &::after {
                    animation-delay: 2s;
                }
            }
        }
        &:nth-child(3) {
            .icon {
                &::after {
                    animation-delay: 4s;
                }
            }
        }
        &:nth-child(4) {
            .icon {
                &::after {
                    animation-delay: 5s;
                }
            }
        }
    }

    &-bg-ani {
        &-logo {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--sr-clr-gd-1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            padding: 20px;

            @media #{$xs} {
                display: none;
            }
        }

        &-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;

            @media #{$xs} {
                display: none;
            }

            .line-1 {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                height: 1px;
                width: 100%;
                background: #2B140A;
                overflow: hidden;

                &::after {
                    content: "";
                    width: 30px;
                    height: 100%;
                    background: linear-gradient(270deg, var(--sr-clr-pr-2) 0%, rgba(255, 255, 255, 0) 100%);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    animation: line1after 5s linear infinite;
                    animation-delay: 1s;
                }
                &::before {
                    content: "";
                    width: 30px;
                    height: 100%;
                    background: linear-gradient(90deg, var(--sr-clr-pr-2) 0%, rgba(255, 255, 255, 0) 100%);
                    border-radius: 3px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    animation: line1before 5s linear infinite;
                    animation-delay: 1s;
                }
            }
            
            .line-2 {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                height: 100%;
                width: 1.5px;
                background: #2B140A;
                overflow: hidden;

                &::after {
                    content: "";
                    width: 100%;
                    height: 30px;
                    background: linear-gradient(180deg, var(--sr-clr-pr-2) 0%, rgba(255, 255, 255, 0) 100%);
                    border-radius: 3px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    animation: line2after 5s linear infinite;
                    animation-delay: 1s;
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 30px;
                    background: linear-gradient(0deg, var(--sr-clr-pr-2) 0%, rgba(255, 255, 255, 0) 100%);
                    border-radius: 3px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    animation: line2before 5s linear infinite;
                    animation-delay: 1s;
                }


            }

            
        }

        &-circle {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -3;
            transform: scale(0);
            animation: processBgCircle 2.5s linear infinite;

            @media #{$xs} {
                display: none;
            }
       

            .circle-1 {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(104deg, rgba(255, 255, 255, 0.60) 6.73%, rgba(255, 255, 255, 0.10) 93.48%);
                background-blend-mode: overlay;
                z-index: -3;
                border-radius: 50%;
                opacity: 12%;
            }

            .circle-2 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 168px;
                height: 168px;
                background: linear-gradient(104deg, rgba(255, 255, 255, 0.60) 6.73%, rgba(255, 255, 255, 0.10) 93.48%);
                background-blend-mode: overlay;
                z-index: -2;
                border-radius: 50%;
                opacity: 12%;
            }

            .circle-3 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 136px;
                height: 136px;
                background: linear-gradient(104deg, rgba(255, 255, 255, 0.60) 6.73%, rgba(255, 255, 255, 0.10) 93.48%);
                background-blend-mode: overlay;
                z-index: -1;
                border-radius: 50%;
                opacity: 12%;
            }
        }
    }

}



@keyframes processBgCircle {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        transform: translate(-50%, -50%) scale(.7);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes line1after {
    0% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}

@keyframes line1before {
    0% {
        left: 50%;
    }
    100% {
        left: -10%;
    }
}


@keyframes line2after {
    0% {
        top: 50%;
    }
    100% {
        top: -10%;
    }
}

@keyframes line2before {
    0% {
        top: 50%;
    }
    100% {
        top: 110%;
    }
}

/* 
    workflow-1-end
*/