/* 
    home-css-start
*/


.sr-home-2 {
    background-color: #0B0D0C;


    
    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--sr-clr-pr-2);
        }

    }

 


    .wa-back-to-top {
        border: 1px solid rgb(255 77 0 / 30%);
        background-color: #000;
        color: var(--sr-clr-pr-2);
    }
}

.sr-home-3 {
    background-color: #F8F9FC;
}
/* 
    home-css-end
*/